// Font Settings
$font-size: 16px;

// Media queries
$break-tablet: "only screen and (min-width : 768px)";
$break-tablet-only: "only screen and (min-width : 768px) and (max-width : 1024px)";
$break-desktop: "only screen and (min-width : 1025px)";

// NFL List
// List is - name abbr subreddit

$nfl-teams:
	(name:cardinals, abbr:ARI, url:azcardinals),
	(name:falcons, abbr:ATL, url:falcons),
	(name:ravens, abbr:BAL, url:ravens),
	(name:bills, abbr:BUF, url:buffalobills),
	(name:panthers, abbr:CAR, url:panthers),
	(name:bears, abbr:CHI, url:chibears),
	(name:bengals, abbr:CIN, url:bengals),
	(name:browns, abbr:CLE, url:browns),
	(name:cowboys, abbr:DAL, url:cowboys),
	(name:broncos, abbr:DEN, url:denverbroncos),
	(name:lions, abbr:DET, url:detroitlions),
	(name:packers, abbr:GB, url:greenbaypackers),
	(name:texans, abbr:HOU, url:texans),
	(name:colts, abbr:IND, url:colts),
	(name:jaguars, abbr:JAX, url:jaguars),
	(name:chiefs, abbr:KC, url:kansascitychiefs),
	(name:dolphins, abbr:MIA, url:miamidolphins),
	(name:vikings, abbr:MIN, url:minnesotavikings),
	(name:patriots, abbr:NE, url:patriots),
	(name:saints, abbr:NO, url:saints),
	(name:giants, abbr:NYG, url:nygiants),
	(name:jets, abbr:NYJ, url:nyjets),
	(name:raiders, abbr:OAK, url:oaklandraiders),
	(name:eagles, abbr:PHI, url:eagles),
	(name:steelers, abbr:PIT, url:steelers),
	(name:chargers, abbr:SD, url:chargers),
	(name:49ers, abbr:SF, url:49ers),
	(name:seahawks, abbr:SEA, url:seahawks),
	(name:rams, abbr:STL, url:stlouisrams),
	(name:buccaneers, abbr:TB, url:buccaneers),
	(name:titans, abbr:TEN, url:tennesseetitans),
	(name:redskins, abbr:WAS, url:redskins),
	(name:nfl, abbr:NFL, url:nfl),
	(name:nfc, abbr:NFC, url:nfc),
	(name:afc, abbr:AFC, url:afc);
