// Font Settings
$font-size: 16px;

// Media queries
$break-tablet: "only screen and (min-width : 768px)";
$break-tablet-only: "only screen and (min-width : 768px) and (max-width : 1024px)";
$break-desktop: "only screen and (min-width : 1025px)";

// NFL List
$nfl-list: cardinals, falcons, ravens, bills, panthers, bears, bengals, browns, cowboys, broncos, lions, packers, texans, colts, jaguars, chiefs, dolphins, vikings, patriots, saints, giants, jets, raiders, eagles, steelers, chargers, 49ers, seahawks, rams, buccaneers, titans, redskins, nfl, nfc, afc, oilers;
