// Enable font smoothing with yes, disable with no.
// Be careful with font-smoothing.
// By rule of thumb, it should only be used on titles.
@mixin font-smoothing($value) {
    @if $value == yes{
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
    @elseif $value == inherit {
        -webkit-font-smoothing: inherit;
        -moz-osx-font-smoothing: inherit;
    }
    @else {
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
    }
}
