.linkinfo{
	&{
		border: none;
		background: none;
		padding: 0 20px;
		margin: -20px 0 60px;
	}
	&::before{
		content: "Post Info";
		@extend %section-title;
		margin-top: 60px;
	}
	.date{
		@include font(display,1);
		display: block;
		margin: 0 0 10px;
		font-size: 14px;
		color: color(grey,40);
	}
	.date span{
		font-size: 0;
	}
	.date::before{
		content: "Posted on ";
	}
	.score{
		@include font(display,1);
		display: block;
		margin: 0 0 10px;
		font-size: 14px;
		color: color(grey,20);
	}
	.score .number{
		@include font(display,1);
		font-size: 14px;
	}
	.score .word{
		@include font(display,1);
		font-size: 14px;
	}
	.shortlink{
		margin: 0;
		font-size: 0;
	}
	.shortlink input{
		@include font(code,0);
		padding: 0;
		border: none;
		margin: 0;
		font-size: 12px;
		text-decoration: underline;
		color: color(red);
	}
}
