.titlebox .tagline .flairselectbtn{
	&{
		@extend %sidebar-button;
		@extend %sidebar-button-text;
		@include sideButtonPosition(3);
		margin-left: -20px;
		padding: 0 20px;
		text-decoration: none;
	}
	&:after{
		content: " Flair";
	}
	&::before{
		content: "";
		@include center(v);
		position: absolute;
		right: 20px;
		display: block;
		height: 17px;
		width: 17px;
		background-image: url("../img/logos-80x80--grey.png");
		background-position: 0 0;
		background-size: 17px;
		opacity: .4;
	}
	&:hover:before{
		background-image: url("../img/logos-80x80.png");
		opacity: 1;
	}
}

$pos-17:0;
@each $team in $nfl-teams {
	.titlebox .tagline .flair-#{map-get($team, name)} ~ .flairselectbtn::before{
		background-position: 0 $pos-17;
	}
	$pos-17: $pos-17 - 17px;
}
.titlebox .tagline .flair{
}
.flairselector .flair {
  cursor: pointer;
}
.titlebox .tagline .flairselector.active{
  position: fixed !important;
  top: 50% !important;
  left: 50% !important;
  z-index: 9 !important;
  width: 430px !important;
  transform: translate(-50%,-50%) !important;
  border: none;
  background-color: #fff;
  box-shadow: none;
}
.titlebox .tagline .flairselector h2{
  font-size: 0;
  background: none;
  color: inherit;
}
.titlebox .tagline .flairselector h2::before{
  @extend %section-title;
  content: "Pick A Team";
  margin: 10px;
}
.titlebox .tagline .flairselector ul{
  display: inline!important;
  float: none!important;
  white-space: normal;
  margin: 0;
}
.titlebox .tagline .flairselector li{
  width: auto!important;
  height: 52px!important;
  padding: 10px;
  border: none;
  background: none;
  display: inline-block !important;
}
.titlebox .tagline .flairselector li a {
  display: none;
}
.titlebox .tagline .flairselector .flair{
  height: 32px;
  width: 32px;
  padding: 0;
  margin: 0;
  border: 0;
  border-radius: 0;
  font-size: 0;
  opacity: .6;
  transition: .3s;
}
.titlebox .tagline .flairselector .flair:hover{
  background: none;
  opacity: 1;
}
.titlebox .tagline .flairselector .flair:before{
  height: 32px;
  width: 32px;
}
.titlebox .tagline .flairselector .flair-bandwagon {
  width: 64px;
  &:before {
    width: 64px;
  }
}
.flairselection span{
  margin-right: 20px;
}
.flairselection .author{
  display: none;
}
.titlebox .tagline .flairselector.active + .userattrs{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  display: block;
  height: 100%;
  width: 100%;
  background: rgba($nfl-draft-black, .7);
}
div.flairoptionpane {
    height: auto;
    max-height: 400px;
}
