&::before{
	content: "";
	display: block;
	width: 300px;
	height: 10px;
	margin: ((40*$sidebarLinksCount) + 40px) 20px 20px;
}
@if($sidebarImage){
	&::before{
		height: $sidebarPicHeight;
		background-image: url($sidebarImage);
		background-repeat: no-repeat;
		background-size: 100%;
	}
	.spacer:nth-child(1){
		padding: 0 20px;
	}
	.spacer:nth-child(1)::before{
		@extend %headline;
		content: $sidebarHeader;
		font-size: 20px;
		margin: 0 0 10px;
		color: color(grey,100);
	}
	.spacer:nth-child(1)::after{
		@extend %body-copy;
		content: $sidebarText;
		display: block;
		padding-bottom: 20px;
		font-size: 12px;
		line-height: 1.4em;
		text-align: left;
		color: color(grey,100);
	}
}


$spaceAboveLinks: $h-reddit-nav + $h-team-header + $h-sub-nav + $h-hero;
$spaceOfLinks: ($sidebarLinksCount * $sidebarLinksHeight) + 20px;
@if $headerSideOffset{
	$spaceAboveLinks: $spaceAboveLinks + $headerSideOffset ;
}
$totalPromoHeight: 0;

@each $p in $promos {
	a[title="#{map-get($p, target)}"]{
		@if map-has-key($p, position) {
			position: absolute;
			top: $spaceAboveLinks + $totalPromoHeight + $spaceOfLinks;
			$totalPromoHeight: $totalPromoHeight + map-get($p, height) + 20px;
		} @else{
			margin: 20px 0;
		}
		display: block;
		height: map-get($p, height);
		width: 300px;
		background-image: url(map-get($p, image));
		background-repeat: no-repeat;
		background-size: 100%;
		font-size: 0;
	}
}

&::before{
	margin: ($totalPromoHeight + $sidebarPicOffset + ($sidebarLinksCount * $sidebarLinksHeight) + 20px) 20px 20px;
}
