.sidecontentbox .helplink{
	@extend %sidebar-button;
	@extend %sidebar-button-text;
	@include sideButtonPosition(4);
	padding: 0 20px;
	margin: 0 0 0 -20px;
	font-size: 0;
}
.sidecontentbox .helplink:before{
	content: "Message The Mods";
	@extend %sidebar-button-text;
}
.sidecontentbox .helplink::after{
	content: "";
	@include center(v);
	position: absolute;
	right: 20px;
	height: 17px;
	width: 17px;
	background-image: url(../img/icons.png);
	background-position: 0 (-20px*4);
	background-repeat: no-repeat;
	background-size: 17px;
	opacity: .4;
}
.sidecontentbox .helplink:hover::after{
	opacity: 1;
}