#moderation_tools{
	&{
		padding: 0 20px;
		margin: 60px 0;
	}
	.title{
		font-size: 0;
	}
	.title::before{
		content: "Moderation Tools";
		@extend %section-title;
		margin: 0;
	}
	.collapse-button{
		border: 0;
		background: transparent;
	}
	.content{
		padding: 0;
		border: none;
		margin: 20px 0 0;
	}
}