.sidecontentbox{
	&{
		padding: 0 20px;
		margin: 60px 0;
	}
	.title h1 {
		@extend %section-title;
		margin: 0;
        font-size: 16px;
        color: black;
        text-transform: lowercase;
        &:first-letter {
            text-transform: uppercase;
        }
	}
	.content{
		padding: 0;
		border: none;
		margin: 20px 0 0;
	}
}
