a[title="subreddit-rules"]{
	@extend %sidebar-button;
	@extend %sidebar-button-text;
	@include sideButtonPosition(5);
	padding: 0 20px;
	margin: 0 0 0 -20px;
}
a[title="subreddit-rules"]::after{
	content: "";
	@include center(v);
	position: absolute;
	right: 20px;
	height: 17px;
	width: 17px;
	background-image: url(../img/icons.png);
	background-position: 0 (-20px*5);
	background-repeat: no-repeat;
	background-size: 17px;
	opacity: .4;
}
a[title="subreddit-rules"]:hover::after{
	opacity: 1;
}