#search{
	@extend %sidebar-button;
	@include sideButtonPosition(0);
	margin-left: -20px;
}
#search input:nth-child(1){
	@extend %sidebar-button-text;
	height: 100%;
	width: 100%;
	padding: 0 20px;
	border: 0;
	background: color(grey,0);
	outline: none;
}
#search input:nth-child(1)::-webkit-input-placeholder{color: color(grey,40); transition: color .3s ease-out;}
#search input:nth-child(1):-moz-placeholder{color: color(grey,40); transition: color .3s ease-out;}
#search input:nth-child(1)::-moz-placeholder{color: color(grey,40); transition: color .3s ease-out;}
#search input:nth-child(1):-ms-input-placeholder{color: color(grey,40); transition: color .3s ease-out;}
#search input:nth-child(1):hover,
#search input:nth-child(1):focus{
	background: color(grey,0);
}
#search input:nth-child(1):hover::-webkit-input-placeholder{color: color(grey,100);}
#search input:nth-child(1):hover:-moz-placeholder{color: color(grey,100);}
#search input:nth-child(1):hover::-moz-placeholder{color: color(grey,100);}
#search input:nth-child(1):hover:-ms-input-placeholder{color: color(grey,100);}
#search input:nth-child(2){
	@include center(v);
	position: absolute;
	right: 20px;
	height: 17px;
	width: 17px;
	background-image: url(../img/icons.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	background-size: 17px;
	opacity: .4;
}
#search input:hover + input,
#search input:focus + input{
	opacity: 1;
}
#searchexpando{
	@extend %kill;
}
