.titlebox{
	&{
		padding: 0 20px;
		margin: 60px 0;
	}
	.redditname a{
		@extend %kill;
	}
	.redditname::before{
		content: "Subreddit Stats";
		@extend %section-title;
	}
	.subscribers{
		@include font(display,1);
		display: block;
		margin: 0 0 10px;
		font-size: 14px;
		color: color(grey,40);
	}
	.users-online::before{
		display: none;
	}
	.users-online{
		@include font(display,1);
		display: block;
		margin: 0;
		font-size: 14px;
		color: color(grey,20);
	}
	.leavemoderator,
	.bottom,
	.flairtoggle,
	.leavecontributor-button,
	.md hr{
		@extend %kill;
	}
	.tagline{
		font-size: 0;
	}
}