.subscribe-button{
	@extend %sidebar-button;
	@include sideButtonPosition(2);
	margin: 0 0 0 -20px;
}
.subscribe-button a{
	@extend %sidebar-button-text;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 0 20px;
	border: 0;
	background: color(grey,0);
	outline: none;
}
.subscribe-button a::after{
	content: "";
	@include center(v);
	position: absolute;
	right: 20px;
	height: 17px;
	width: 17px;
	background-image: url(../img/icons.png);
	background-position: 0 (-20px*2);
	background-repeat: no-repeat;
	background-size: 17px;
	opacity: .4;
}
.subscribe-button a.remove::after{
	background-position: 0 (-20px*3);
}
.subscribe-button a:hover::after{
	opacity: 1;
}
.subscribe-button a:hover,
.subscribe-button a:focus{
	background: #fff;
}
