.submit-link{
	@extend %kill;
}
.submit-text{
	@extend %sidebar-button;
	@include sideButtonPosition(1);
	padding: 0;
	margin: 0;
}
.submit-text .morelink{
	border: 0;
}
.submit-text a{
	@extend %sidebar-button-text;
	position: absolute;
	top: 0;
	left: 0;
	height: 30px;
	width: 100%;
	padding: 0 20px;
	text-align: left;
}
.submit-text a::after{
	content: "";
	@include center(v);
	position: absolute;
	right: 20px;
	height: 17px;
	width: 17px;
	background-image: url(../img/icons.png);
	background-position: 0 (-20px*1);
	background-repeat: no-repeat;
	background-size: 17px;
	opacity: .4;
}
.submit-text a:hover::after{
	opacity: 1;
}
.submit-text .nub{
	@extend %kill;
}
