$resnm-bg: #333333;
$resnm-bg-alt: #262626;
$resnm-font: #ccc;
$resnm-grey: #666;

.res-nightmode {
	&{}
	#header,
	.side .titlebox .md hr+h4+h1+ul::before{
		background-color: $resnm-bg !important;
	}
	.side .login-form input,
	.side .sidecontentbox .helplink,
	.side .sidecontentbox .helplink:before,
	.side .submit-text a, .side .subscribe-button a,
	.side .titlebox .tagline .flairselectbtn,
	.side a[title=subreddit-rules],
	.side a[title=subreddit-rules]::after{
		background-color: $resnm-bg-alt !important;
	}
	.side #search input:nth-child(1){
		background-color: $resnm-bg;
		border-color: lighten($resnm-bg, 10)
	}
	.titlebox .usertext .md table thead{
		background: $resnm-grey;
		border-color: $resnm-grey;
	}
	.titlebox .usertext .md table tbody tr{
		color: $resnm-font;
		background: $resnm-bg;
	}
	.usertext .md table tbody tr:nth-child(2n+2) {
		background: $resnm-bg-alt;
	}
	.titlebox .usertext .md table tbody td{
		border-color: $resnm-grey;
	}
}
