.res{
	#viewImagesButton{
		@extend %kill;
	}
	#RESAccountSwitcherIcon{
		@extend %kill;
	}
	.userkarma{
		@extend %kill;
	}
	#openRESPrefs{
		@extend %kill;
	}
	#userbarToggle{
		@extend %kill;
	}
	.totalvotes{
		@extend %kill;
	}
	#header-bottom-right{
		top: 0;
		border-radius: 0;
		bottom: auto;
		height: 100%;
	}
    #RESShortcutsEditContainer, #RESShortcutsSort, #RESShortcutsRight, #RESShortcutsLeft, #RESShortcutsAdd, #RESShortcutsTrash {
        color: #fff;
        background: #333;
    }
    .RESDialogSmall > h3 {
        box-sizing: content-box;
    }
    a.author.moderator::before {
        left: -8px; // Magic value
    }
}
