* {
	box-sizing: border-box;
}
html{
	height: auto;
	background-image: linear-gradient(color(grey,10), color(grey,5));
	background-color: color(grey,5);
	background-repeat: no-repeat;
}
body{
	width: auto;
	margin: 0 40px 40px;
}