.content{
	&{
		padding: 20px;
		margin: 0;
		background: color(grey,0);
	}
	
	// Post list
	@import "./components/_reddit-content/_post-list.scss";
	
	// Single post
	@import "./components/_reddit-content/_self-post-body.scss";
}