.side{
	&{
		@extend %sidebar-width;
		display: block;
		padding: 0;
		margin: 0;
	}
	.md-container{
		margin: 20px 0;
	}
	.spacer{
		margin: 0;
	}
	.create{
		@extend %kill;
	}
	.login-form{
		&{
			padding: 0 20px;
			border: none;
		}
		&::before{
			content: "Log In";
			@extend %section-title;
		}
		input{
			@extend %sidebar-button-text;
			display: block;
			width: 100%;
			padding: 2px 10px 0;
			border: none;
			border-bottom: 2px solid color(grey,20);
			margin: 4px 0 0;
			font-size: 12px;
			line-height: 30px;
			font-weight: 400;
			text-transform: capitalize;
		}
	}
	ul li a[href="/r/NFL"]::before{
		display: none;
	}
	.sponsor-300-250{
		margin: 20px 20px 0;
	}
	.dfp-ad-container{
		margin: 0 auto;
	}
	// Buttons
	@import "./components/_reddit-sidebar/_search.scss";
	@import "./components/_reddit-sidebar/_submit.scss";
	@import "./components/_reddit-sidebar/_subscribe.scss";
	@import "./components/_reddit-sidebar/_flair.scss";
	@import "./components/_reddit-sidebar/_message-mods.scss";
	@import "./components/_reddit-sidebar/_rules.scss";

	// Components
	@import "./components/_reddit-sidebar/_link-info.scss";
	@import "./components/_reddit-sidebar/_stats.scss";
	@import "./components/_reddit-sidebar/_mod-tools.scss";
	@import "./components/_reddit-sidebar/_moderators.scss";
    @import "./components/_reddit-sidebar/_events.scss";

	// Special stuff
	@import "./components/_reddit-sidebar/_flair-based-header.scss";
	@import "./components/_reddit-sidebar/_image.scss";
}
