// Removes flair off listing pages, moderator box in sidebar, and posts on author
.side .bottom .flair,
.sidecontentbox .flair,
#siteTable .flair{
	@extend %kill;
}
// Puts it back in the listing for moderators
body.moderator #siteTable .flair{
	display: inline-block !important;
}
// User flair
// Flair wrapping element
%flair-element{
	content: "";
	display: inline-block;
	height: 20px;
	width: 20px;
	margin-right: 4px;
	vertical-align: middle;
	background-image: url(#{$team-icons});
	background-repeat: repeat;
	background-size: 100%;
}
.flair{
	&{
		position: relative;
		display: inline-block;
		height: 28px;
		width: 28px;
		margin-right: 3px;
		vertical-align: middle;
		font-size: 10px;
		line-height: 16px;
		border: 1px solid transparent;
		border-radius: 3px;
		background: transparent;
		color: #222;
		overflow: hidden;
		white-space: nowrap;
	}
	// Flair wrap on hover
	&:hover{
		width: auto;
		border-color:  #ddd;
		background-color: #f5f5f5;
		cursor: help;
	}
	// Flair logo element
	&::before,
	&::after{
		@extend %flair-element;
	}
	&::before{
		display: inline-block;
		width: 25px;
		height: 25px;
	}
	&::after{
		position: absolute;
		top: 50%;
		left: 30px;
		transform: translateY(-50%);
		width: 15px;
		height: 15px;
		display: none;
	}
}
span[class*='flair-nfl-'],
span[class*='flair-cfl-']{
	&{
		width: 54px;
	}
	&::before{
		margin-right: 28px;
	}
	&::after{
		display: block;
	}
}

#siteTable .tagline .flair-official {
	display: inline-block !important;
}


$pos-100:  0%;
@each $team in $all-teams{
	$league: map-get($team, league);
	$name: map-get($team, name);
	$abbr: map-get($team, abbr);
	$url: map-get($team, url);
	$bg: map-get($team, bg);
	$fg: map-get($team, fg);
	$status_eliminated: map-get($team, eliminated);
	$status_champion: map-get($team, eliminated);
	$flair-rank: null;

	@if($league == "aaf"){
		.md a[href$="/r/#{$url}"]::before,
		.md a[href^="/r/#{$url}#"]::before,
		.md a[href$="/r/#{to-lower-case($url)}"]::before,
		.md a[href="/#{to-lower-case($abbr)}"]::before,
		.md a[href="/#{to-upper-case($abbr)}"]::before,
		.md a[data-href-url$="/r/#{$url}"]::before,
		.md a[data-href-url^="/r/#{$url}#"]::before,
		.md a[data-href-url$="/r/#{to-lower-case($url)}"]::before,
		.md a[data-href-url="/#{to-lower-case($abbr)}"]::before,
		.md a[data-href-url="/#{to-upper-case($abbr)}"]::before
		{
			@extend %flair-element;
		}

		.md a[href$="/r/#{$url}"],
		.md a[href^="/r/#{$url}#"],
		.md a[href$="/r/#{to-lower-case($url)}"],
		.md a[href="/#{to-lower-case($abbr)}"],
		.md a[href="/#{to-upper-case($abbr)}"],
		.md a[data-href-url$="/r/#{$url}"],
		.md a[data-href-url^="/r/#{$url}#"],
		.md a[data-href-url$="/r/#{to-lower-case($url)}"],
		.md a[data-href-url="/#{to-lower-case($abbr)}"],
		.md a[data-href-url="/#{to-upper-case($abbr)}"],
		.flair-#{to-lower-case($name)}{
			&::before{
				background-position: 0 $pos-100;
				@if $status_eliminated{
					opacity: .4;
				}
				@if $status_champion{
					// multiple css backgrounds to be added at a later time
				}
			}
		}
		.flair-#{to-lower-case($name)}.flair-official + .author {
			background: grayscale($bg);
			color: grayscale($fg);
		}
	} @else{
		$flair-rank: "secondary";
		.flair-#{to-lower-case($league)}-#{to-lower-case($name)}::after{
			background-position: 0 $pos-100;
		}
	}

	a[href*="/wiki/flair/aaf/#{to-lower-case($name)}"],
	a[href*="#{$flair-rank}%3A#{to-lower-case($league)}-#{to-upper-case($abbr)}"]{
		&::before{
			background-position: 0 $pos-100 !important;
		}
	}


	$pos-100: $pos-100 - 100%;
}

/* Special flair */
.flair-twitter, .flair-robot {
	&:before {
		background-image: url(#{$special-icons});
	}
}
.flair-twitter:before {
	background-position: 0 0;
}
.flair-robot:before {
	background-position: 0 -25px;
}
