.post-linkflair-game-thread{
	%text-header{
		&{
			position: relative;
			display: block;
			font-size: 16px;
			color: #333!important;
			line-height: 80px;
		}
		&::before{
			width: 80px;
			height: 80px;
		}
	}

	p{
		overflow: hidden;
	}

	// first section
	div div.expando hr + p{
		position: relative;
	}
	a[href$="#away"]{
		&{
			@extend %text-header;
			padding-left: 100px;
			float: left;
		}
		&::before{
			position: absolute;
			left: 0;
		}
	}
	a[href$="#home"]{
		&{
			@extend %text-header;
			padding-right: 100px;
			float: right;
		}
		&::before{
			position: absolute;
			right: 0;
		}
	}
	a[href$="#at"] {
		position: absolute;
		display: block;
		left: 50%;
		margin-left: -8px;
		top: 32px;
		color: #ccc!important;
	}

	// Info bar
	hr + ul{
		display: block;
		min-width: 500px;
		width: auto;
		background: #eee;
		padding: 10px 0;
		list-style: none;
		margin: 0;
		overflow: hidden;
	}
	hr + ul li:nth-of-type(1) {
		float: left;
		padding-left: 10px;
	}
	hr + ul li:nth-of-type(2) {
		float: right;
		padding-right: 10px;
	}
	thead,
	hr{
		display: none;
	}
	tbody tr td a em {
		display: none;
	}
}
