%clearfix {
	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}
%kill{
	display: none !important;
}
%cover-all{
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: 100%;
	width: 100%;
}
%header-text-style{
	font-size: rem(14px);
	line-height: 1em;
	@media(small){
		font-size: rem(16px);
	}
}
%sidebar-width{
	width: 340px;
}
%sidebar-button{
	@extend %sidebar-width;
	position: absolute;
	display: block;
	height: 30px;
}
%sidebar-button-text{
	@include font(display, 1);
	font-size: 14px;
	letter-spacing: .02em;
	line-height: 30px;
	text-transform: capitalize;
	background-color: color(grey,0);
	color: color(grey,40);
	outline: none;
}
%sidebar-button-text:hover,
%sidebar-button-text:focus{
	background-color: #fff;
	color: color(grey,100);
}
