.post-linkflair-power-rankers span.flair-ranker{
	&{
		height: 44px;
		width: 44px !important;
	}
	&:hover{
		width: auto !important;
	}
	&::before{
		height: 40px;
		width: 40px;
		margin-right: 0 !important;
	}
	&::after{
		display: none !important;
	}
	+ .author{
		color: #ff0000;
	}
	@each $team in $nfl-teams{
		$name: map-get($team, name);
		&.flair-#{to-upper-case($name)} + .author::after{
			content: " - #{$name} Ranker"
		}
	}
}
