// Color
$nfl-blue: #1B487B;
$nfl-red: #AA2E3A;
$nfl-0: #FFF;
$nfl-100: #4D4D55;
$nfl-draft-gold: #C9A00F;
$nfl-draft-black: #2F2E32;
$h-switchboard-height: 0;

// Media Breaks
$breakpoints: (name: max, size: 1700, num:20),
			  (name: medium, size:1040, num:10),
			  (name: small, size:1100, num:0);

$media-stack:
	(group: mobile, id: general, rule: "only screen and (max-width: 767px)"),
	(group: tablet, id: general, rule: "only screen and (min-width: 768px)"),
	(group: tablet, id: inbetween, rule: "only screen and (min-width: 768px) and (max-width:1024px)"),
	(group: desktop, id: general, rule: "only screen and (min-width: 1200px)"),
	(group: custom, id: screen, rule: "only screen ");

// NFL Teams
$nfl-teams: (name:nfl, abbr:NFL, url:nfl, fg:$nfl-0, bg:$nfl-blue, eliminated: false),
						(name:cardinals, abbr:ARI, url:azcardinals, fg:#FFFFFF, bg:#97233F, eliminated: true),
						(name:falcons, abbr:ATL, url:falcons, fg:#A71930, bg:#000000, eliminated: false),
						(name:ravens, abbr:BAL, url:ravens, fg:#9E7C0C, bg:#241773, eliminated: true),
						(name:bills, abbr:BUF, url:buffalobills, fg:#C60C30, bg:#00338D, eliminated: true),
						(name:panthers, abbr:CAR, url:panthers, fg:#000000, bg:#0085CA, eliminated: true),
						(name:bears, abbr:CHI, url:chibears, fg:#C83803, bg:#0B162A, eliminated: true),
						(name:bengals, abbr:CIN, url:bengals, fg:#FB4F14, bg:#000000, eliminated: true),
						(name:browns, abbr:CLE, url:browns, fg:#311D00, bg:#FF3C00, eliminated: true),
						(name:cowboys, abbr:DAL, url:cowboys, fg:#B0B7BC, bg:#002244, eliminated: false),
						(name:broncos, abbr:DEN, url:denverbroncos, fg:#002244, bg:#FB4F14, eliminated: true, champion: false),
						(name:lions, abbr:DET, url:detroitlions, fg:#B0B7BC, bg:#005A8B, eliminated: true),
						(name:packers, abbr:GB, url:greenbaypackers, fg:#FFB612, bg:#203731, eliminated: false),
						(name:texans, abbr:HOU, url:texans, fg:#A71930, bg:#03202F, eliminated: false),
						(name:colts, abbr:IND, url:colts, fg:#FFFFFF, bg:#002C5F, eliminated: true),
						(name:jaguars, abbr:JAC, url:jaguars, fg:#006778, bg:#000000, eliminated: true),
						(name:chiefs, abbr:KC, url:kansascitychiefs, fg:#FFB612, bg:#E31837, eliminated: false),
						(name:dolphins, abbr:MIA, url:miamidolphins, fg:#F58220, bg:#008E97, eliminated: true),
						(name:vikings, abbr:MIN, url:minnesotavikings, fg:#FFC62F, bg:#4F2683, eliminated: true),
						(name:patriots, abbr:NE, url:patriots, fg:#C60C30, bg:#002244, eliminated: false),
						(name:saints, abbr:NO, url:saints, fg:#9F8958, bg:#000000, eliminated: true),
						(name:giants, abbr:NYG, url:nygiants, fg:#A71930, bg:#0B2265, eliminated: false),
						(name:jets, abbr:NYJ, url:nyjets, fg:#FFFFFF, bg:#203731, eliminated: true),
						(name:raiders, abbr:OAK, url:oaklandraiders, fg:#000000, bg:#A5ACAF, eliminated: false),
						(name:eagles, abbr:PHI, url:eagles, fg:#A5ACAF, bg:#004953, eliminated: true),
						(name:steelers, abbr:PIT, url:steelers, fg:#FFB612, bg:#000000, eliminated: false),
						(name:chargers, abbr:SD, url:chargers, fg:#FFB612, bg:#0073CF, eliminated: true),
						(name:fortyniners, abbr:SF, url:49ers, fg:#B3995D, bg:#AA0000, eliminated: true),
						(name:seahawks, abbr:SEA, url:seahawks, fg:#69BE28, bg:#002244, eliminated: false),
						(name:rams, abbr:LA, url:losangelesrams, fg:#B3995D, bg:#002244, eliminated: true),
						(name:buccaneers, abbr:TB, url:buccaneers, fg:#34302B, bg:#D50A0A, eliminated: true),
						(name:titans, abbr:TEN, url:tennesseetitans, fg:#4B92DB, bg:#002244, eliminated: true),
						(name:redskins, abbr:WAS, url:redskins, fg:#FFB612, bg:#773141, eliminated: true),
						(name:nfc, abbr:NFC, url:nfc, fg:#FFF, bg:#12376E, eliminated: false),
						(name:afc, abbr:AFC, url:afc, fg:#FFF, bg:#DB1F26, eliminated: false);

// Fonts Info
$f-stack1: "Lucida Grande", "Lucida Sans Unicode", sans-serif;
$f-stack2: "Arial", "Helvetica", sans-serif;
$f-stack3: monospace;
$fonts:(
  (type: display, variants:(
	(name: $f-stack1, weight: 400, num: 0),
	(name: $f-stack1, weight: 700, num: 1)
  )),
  (type: copy, variants:(
	(name: $f-stack2, weight: 400, num: 0),
	(name: $f-stack2, weight: 700, num: 1)
  )),
  (type: code, variants:(
	(name: $f-stack3, weight: 400, num: 0),
	(name: $f-stack3, weight: 700, num: 1)
  ))
);

// Element Info
$h-reddit-nav: 20px;
$h-team-header: 60px;
$h-hero: 40px;
$h-sidebar-pic: $sidebarPicHeight;
$h-sub-nav: 60px;
$h-switchboard-height: 0;
$t-important-links: $h-reddit-nav + $h-team-header + $h-hero + $h-sub-nav;
