input[name="uh"] ~ a:before{
  content: "";
  display: block;
  position: absolute;
  top: $h-reddit-nav + $h-team-header;
  left: 0;
  height: 450px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  z-index:-1;
  pointer-events: none;
}
input[name="uh"][value^="0"] ~ a:before{background-image: url(../img/draft-header-giants.jpg);}
input[name="uh"][value^="1"] ~ a:before{background-image: url(../img/draft-header-eagles.jpg);}
input[name="uh"][value^="2"] ~ a:before{background-image: url(../img/draft-header-cowboys.jpg);}
input[name="uh"][value^="3"] ~ a:before{background-image: url(../img/draft-header-redskins.jpg);}
input[name="uh"][value^="4"] ~ a:before{background-image: url(../img/draft-header-jets.jpg);}
input[name="uh"][value^="5"] ~ a:before{background-image: url(../img/draft-header-patriots.jpg);}
input[name="uh"][value^="6"] ~ a:before{background-image: url(../img/draft-header-bills.jpg);}
input[name="uh"][value^="7"] ~ a:before{background-image: url(../img/draft-header-dolphins.jpg);}
input[name="uh"][value^="8"] ~ a:before{background-image: url(../img/draft-header-packers.jpg);}
input[name="uh"][value^="9"] ~ a:before{background-image: url(../img/draft-header-bears.jpg);}
input[name="uh"][value^="a"] ~ a:before{background-image: url(../img/draft-header-vikings.jpg);}
input[name="uh"][value^="b"] ~ a:before{background-image: url(../img/draft-header-lions.jpg);}
input[name="uh"][value^="c"] ~ a:before{background-image: url(../img/draft-header-steelers.jpg);}
input[name="uh"][value^="d"] ~ a:before{background-image: url(../img/draft-header-bengals.jpg);}
input[name="uh"][value^="e"] ~ a:before{background-image: url(../img/draft-header-browns.jpg);}
input[name="uh"][value^="f"] ~ a:before{background-image: url(../img/draft-header-ravens.jpg);}
input[name="uh"][value^="g"] ~ a:before{background-image: url(../img/draft-header-saints.jpg);}
input[name="uh"][value^="h"] ~ a:before{background-image: url(../img/draft-header-panthers.jpg);}
input[name="uh"][value^="i"] ~ a:before{background-image: url(../img/draft-header-buccaneers.jpg);}
input[name="uh"][value^="j"] ~ a:before{background-image: url(../img/draft-header-falcons.jpg);}
input[name="uh"][value^="k"] ~ a:before{background-image: url(../img/draft-header-colts.jpg);}
input[name="uh"][value^="l"] ~ a:before{background-image: url(../img/draft-header-jaguars.jpg);}
input[name="uh"][value^="m"] ~ a:before{background-image: url(../img/draft-header-titans.jpg);}
input[name="uh"][value^="n"] ~ a:before{background-image: url(../img/draft-header-texans.jpg);}
input[name="uh"][value^="o"] ~ a:before{background-image: url(../img/draft-header-49ers.jpg);}
input[name="uh"][value^="p"] ~ a:before{background-image: url(../img/draft-header-seahawks.jpg);}
input[name="uh"][value^="q"] ~ a:before{background-image: url(../img/draft-header-cardinals.jpg);}
input[name="uh"][value^="r"] ~ a:before{background-image: url(../img/draft-header-rams.jpg);}
input[name="uh"][value^="s"] ~ a:before{background-image: url(../img/draft-header-broncos.jpg);}
input[name="uh"][value^="t"] ~ a:before{background-image: url(../img/draft-header-cheifs.jpg);}
input[name="uh"][value^="u"] ~ a:before{background-image: url(../img/draft-header-raiders.jpg);}
input[name="uh"][value^="v"] ~ a:before{background-image: url(../img/draft-header-chargers.jpg);}
input[name="uh"][value^="w"] ~ a:before{background-image: url(../img/draft-header-giants.jpg);}
input[name="uh"][value^="x"] ~ a:before{background-image: url(../img/draft-header-jets.jpg);}
input[name="uh"][value^="y"] ~ a:before{background-image: url(../img/draft-header-patriots.jpg);}
input[name="uh"][value^="z"] ~ a:before{background-image: url(../img/draft-header-cowboys.jpg);}
