%headline{
	display: block;
	font-size: 20px;
	line-height: 1.2em;
}
%section-title{
	display: inline-block;
	margin-bottom: 20px;
	border-bottom: 2px solid color(grey,20);
	font-size: 16px;
	line-height: 1.2em;
}
%body-copy{
	font-size: 16px;
	//letter-spacing: .05em;
	line-height: 1.7em;
}