// this is hardcoded for now, since I lost the original uncompiled code and plan to revisit this later anyway.

.post-linkflair-top-100 .flair-top-100 {
  height: 36px;
  width: 40px;
}

.post-linkflair-top-100 .flair-top-100:before {
  height: 32px;
  width: 32px;
  opacity: 1 !important;
}

.post-linkflair-top-100 .flair-top-100 + .author {
  color: white;
  background: black;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-weight: 700;
  padding: 2px 4px;
}

.post-linkflair-top-100 .flair-top-100 + .author:after {
  content: " - Top 100 Ranker";
}

.post-linkflair-top-100 .flair-nfl.flair-top-100:before {
  background-position: 0 0px;
}

.post-linkflair-top-100 .flair-nfl.flair-top-100 + .author {
  color: #FFF !important;
  background: #1B487B;
}

.post-linkflair-top-100 .flair-cardinals.flair-top-100:before {
  background-position: 0 -32px;
}

.post-linkflair-top-100 .flair-cardinals.flair-top-100 + .author {
  color: #FFFFFF !important;
  background: #97233F;
}

.post-linkflair-top-100 .flair-falcons.flair-top-100:before {
  background-position: 0 -64px;
}

.post-linkflair-top-100 .flair-falcons.flair-top-100 + .author {
  color: #A71930 !important;
  background: #000000;
}

.post-linkflair-top-100 .flair-ravens.flair-top-100:before {
  background-position: 0 -96px;
}

.post-linkflair-top-100 .flair-ravens.flair-top-100 + .author {
  color: #9E7C0C !important;
  background: #241773;
}

.post-linkflair-top-100 .flair-bills.flair-top-100:before {
  background-position: 0 -128px;
}

.post-linkflair-top-100 .flair-bills.flair-top-100 + .author {
  color: #C60C30 !important;
  background: #00338D;
}

.post-linkflair-top-100 .flair-panthers.flair-top-100:before {
  background-position: 0 -160px;
}

.post-linkflair-top-100 .flair-panthers.flair-top-100 + .author {
  color: #000000 !important;
  background: #0085CA;
}

.post-linkflair-top-100 .flair-bears.flair-top-100:before {
  background-position: 0 -192px;
}

.post-linkflair-top-100 .flair-bears.flair-top-100 + .author {
  color: #C83803 !important;
  background: #0B162A;
}

.post-linkflair-top-100 .flair-bengals.flair-top-100:before {
  background-position: 0 -224px;
}

.post-linkflair-top-100 .flair-bengals.flair-top-100 + .author {
  color: #FB4F14 !important;
  background: #000000;
}

.post-linkflair-top-100 .flair-browns.flair-top-100:before {
  background-position: 0 -256px;
}

.post-linkflair-top-100 .flair-browns.flair-top-100 + .author {
  color: #311D00 !important;
  background: #FF3C00;
}

.post-linkflair-top-100 .flair-cowboys.flair-top-100:before {
  background-position: 0 -288px;
}

.post-linkflair-top-100 .flair-cowboys.flair-top-100 + .author {
  color: #B0B7BC !important;
  background: #002244;
}

.post-linkflair-top-100 .flair-broncos.flair-top-100:before {
  background-position: 0 -320px;
}

.post-linkflair-top-100 .flair-broncos.flair-top-100 + .author {
  color: #002244 !important;
  background: #FB4F14;
}

.post-linkflair-top-100 .flair-lions.flair-top-100:before {
  background-position: 0 -352px;
}

.post-linkflair-top-100 .flair-lions.flair-top-100 + .author {
  color: #B0B7BC !important;
  background: #005A8B;
}

.post-linkflair-top-100 .flair-packers.flair-top-100:before {
  background-position: 0 -384px;
}

.post-linkflair-top-100 .flair-packers.flair-top-100 + .author {
  color: #FFB612 !important;
  background: #203731;
}

.post-linkflair-top-100 .flair-texans.flair-top-100:before {
  background-position: 0 -416px;
}

.post-linkflair-top-100 .flair-texans.flair-top-100 + .author {
  color: #A71930 !important;
  background: #03202F;
}

.post-linkflair-top-100 .flair-colts.flair-top-100:before {
  background-position: 0 -448px;
}

.post-linkflair-top-100 .flair-colts.flair-top-100 + .author {
  color: #FFFFFF !important;
  background: #002C5F;
}

.post-linkflair-top-100 .flair-jaguars.flair-top-100:before {
  background-position: 0 -480px;
}

.post-linkflair-top-100 .flair-jaguars.flair-top-100 + .author {
  color: #006778 !important;
  background: #000000;
}

.post-linkflair-top-100 .flair-chiefs.flair-top-100:before {
  background-position: 0 -512px;
}

.post-linkflair-top-100 .flair-chiefs.flair-top-100 + .author {
  color: #FFB612 !important;
  background: #E31837;
}

.post-linkflair-top-100 .flair-rams.flair-top-100:before {
  background-position: 0 -544px;
}

.post-linkflair-top-100 .flair-rams.flair-top-100 + .author {
  color: #B3995D !important;
  background: #002244;
}

.post-linkflair-top-100 .flair-chargers.flair-top-100:before {
  background-position: 0 -576px;
}

.post-linkflair-top-100 .flair-chargers.flair-top-100 + .author {
  color: #FFB612 !important;
  background: #0073CF;
}

.post-linkflair-top-100 .flair-dolphins.flair-top-100:before {
  background-position: 0 -608px;
}

.post-linkflair-top-100 .flair-dolphins.flair-top-100 + .author {
  color: #F58220 !important;
  background: #008E97;
}

.post-linkflair-top-100 .flair-vikings.flair-top-100:before {
  background-position: 0 -640px;
}

.post-linkflair-top-100 .flair-vikings.flair-top-100 + .author {
  color: #FFC62F !important;
  background: #4F2683;
}

.post-linkflair-top-100 .flair-patriots.flair-top-100:before {
  background-position: 0 -672px;
}

.post-linkflair-top-100 .flair-patriots.flair-top-100 + .author {
  color: #C60C30 !important;
  background: #002244;
}

.post-linkflair-top-100 .flair-saints.flair-top-100:before {
  background-position: 0 -704px;
}

.post-linkflair-top-100 .flair-saints.flair-top-100 + .author {
  color: #9F8958 !important;
  background: #000000;
}

.post-linkflair-top-100 .flair-giants.flair-top-100:before {
  background-position: 0 -736px;
}

.post-linkflair-top-100 .flair-giants.flair-top-100 + .author {
  color: #A71930 !important;
  background: #0B2265;
}

.post-linkflair-top-100 .flair-jets.flair-top-100:before {
  background-position: 0 -768px;
}

.post-linkflair-top-100 .flair-jets.flair-top-100 + .author {
  color: #FFFFFF !important;
  background: #203731;
}

.post-linkflair-top-100 .flair-raiders.flair-top-100:before {
  background-position: 0 -800px;
}

.post-linkflair-top-100 .flair-raiders.flair-top-100 + .author {
  color: #000000 !important;
  background: #A5ACAF;
}

.post-linkflair-top-100 .flair-eagles.flair-top-100:before {
  background-position: 0 -832px;
}

.post-linkflair-top-100 .flair-eagles.flair-top-100 + .author {
  color: #A5ACAF !important;
  background: #004953;
}

.post-linkflair-top-100 .flair-steelers.flair-top-100:before {
  background-position: 0 -864px;
}

.post-linkflair-top-100 .flair-steelers.flair-top-100 + .author {
  color: #FFB612 !important;
  background: #000000;
}

.post-linkflair-top-100 .flair-fortyniners.flair-top-100:before {
  background-position: 0 -896px;
}

.post-linkflair-top-100 .flair-fortyniners.flair-top-100 + .author {
  color: #B3995D !important;
  background: #AA0000;
}

.post-linkflair-top-100 .flair-seahawks.flair-top-100:before {
  background-position: 0 -928px;
}

.post-linkflair-top-100 .flair-seahawks.flair-top-100 + .author {
  color: #69BE28 !important;
  background: #002244;
}

.post-linkflair-top-100 .flair-buccaneers.flair-top-100:before {
  background-position: 0 -960px;
}

.post-linkflair-top-100 .flair-buccaneers.flair-top-100 + .author {
  color: #34302B !important;
  background: #D50A0A;
}

.post-linkflair-top-100 .flair-titans.flair-top-100:before {
  background-position: 0 -992px;
}

.post-linkflair-top-100 .flair-titans.flair-top-100 + .author {
  color: #4B92DB !important;
  background: #002244;
}

.post-linkflair-top-100 .flair-redskins.flair-top-100:before {
  background-position: 0 -1024px;
}

.post-linkflair-top-100 .flair-redskins.flair-top-100 + .author {
  color: #FFB612 !important;
  background: #773141;
}

.post-linkflair-top-100 .flair-nfc.flair-top-100:before {
  background-position: 0 -1056px;
}

.post-linkflair-top-100 .flair-nfc.flair-top-100 + .author {
  color: #FFF !important;
  background: #12376E;
}

.post-linkflair-top-100 .flair-afc.flair-top-100:before {
  background-position: 0 -1088px;
}

.post-linkflair-top-100 .flair-afc.flair-top-100 + .author {
  color: #FFF !important;
  background: #DB1F26;
}
