// breaking the header's bounding box
// Reddit top links
#sr-header-area {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	height: rem(20px);
	width: 100%;
	background: #333;
	border-bottom: none!important;
	// giving all inside content the same background anc text color
	a,
	span,
	.drop-choices {
		background: #333;
		color: #fff;
	}
    a::before {
        @extend %kill
    }
}
