.commentarea{
	padding: 0;
}
.panestack-title{
	&{
		margin: 0 auto 5px 0;
		border-bottom: none;
	}
	.title{
		text-transform: capitalize;
	}
}
.commentarea .menuarea{
	margin: 0;
}
.commentarea>.usertext{
	margin: 0;
}
.comment{
	&{}
	.md{
		padding: 0;
		border: none;
		background: none;
        sup sup {
            font-size: inherit;
            vertical-align: baseline;
        }
	}
	form p{
		@extend %body-copy;
		margin: 10px 0 10px;
		font-size: 14px;
	}
	form h1{
		@extend %section-title;
		font-size: rem(18px);
		margin: 10px 0;
	}
	form h1:not(:first-of-type){
		margin-top: 30px;
	}
	form h2{
		@include font(display,1);
		font-size: rem(18px);
		margin: 10px 0;
	}
	form h3{
	}
	.md blockquote{
		margin: 20px 0;
	}
	.md table{
		@extend %default-table;
	}
	
	// Child comments
	.child{
		border-color: color(grey,20);
	}
	.child:hover{
		border-color: color(grey,80);
	}
}
