.linkflair.linkflair-green{
  %text-header{
    display: block;
    font-size: 16px;
    color: #333!important;
    line-height: 80px;
  }
  %flair-element{
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 80px;
    width: 80px;
    background: url("../img/logos-160x160.png");
    background-size: 80px;
  }

  // first section
  div div.expando hr + p{
    overflow: hidden;
    position: relative;
  }
  a[href$="#away"]{
    @extend %text-header;
    float: left;
  }
  a[href$="#away"]::before{
    @extend %flair-element;
  }
  a[href$="#home"] {
    @extend %text-header;
    float: right;
  }
  a[href$="#home"]::after{
    @extend %flair-element;
  }
  $pos-80: 0px;
  @each $team in $nfl-teams{
    $thisName: map-get($team, name);
    $thisAbbr: map-get($team, abbr);
    $thisUrl: map-get($team, url);
    a[href$="/r/#{$thisUrl}#away"]::before,
    a[href$="/#{$thisUrl}#home"]::after{
      background-position: 0 $pos-80;
    }
    $pos-80: $pos-80 - 80px;
  }
  a[href$="#at"] {
    position: absolute;
    display: block;
    left: 50%;
    margin-left: -8px;
    top: 32px;
    color: #ccc!important;
  }

  // Info bar
  hr + ul{
    display: block;
    min-width: 500px;
    width: auto;
    background: #eee;
    padding: 10px 0;
    list-style: none;
    margin: 0;
    overflow: hidden;
  }
  hr + ul li:nth-of-type(1) {
    float: left;
    padding-left: 10px;
  }
  hr + ul li:nth-of-type(2) {
    float: right;
    padding-right: 10px;
  }
  
  thead,
  hr{
    display: none;
  }
  tbody tr td a em {
    display: none;
  }
}
