#jumpToContent,
#header-img, .pagename, #header-bottom-right .separator, .listing-page .flair,
.sidecontentbox .flair,
#siteTable .flair {
  display: none !important; }

#header-bottom-right .user a {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 100%;
  width: 100%; }

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

html {
  padding: 2.5rem;
  background: #eee; }

#header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border-bottom: none;
  background: #444; }

#header-bottom-left {
  display: block;
  width: -webkit-calc(100% - 300px);
  width: calc(100% - 300px);
  font-size: 0;
  background: transparent; }

.tabmenu {
  float: left;
  width: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden; }
  .tabmenu li {
    display: inline-block;
    margin: 0; }
    .tabmenu li .choice {
      display: block;
      padding: 0.125rem;
      margin: 1.125rem 0.5rem;
      font-family: helvetica, arial, sans-serif;
      font-size: 0.75rem;
      font-weight: 400;
      letter-spacing: .1em;
      line-height: 1em;
      text-transform: uppercase;
      background: transparent;
      border: none !important;
      color: #999;
      -webkit-transition: color .3s;
              transition: color .3s; }
      .tabmenu li .choice:hover {
        color: white; }
    .tabmenu li.selected .choice {
      color: white;
      background: transparent; }
    .tabmenu li:first-child .choice {
      margin-left: 1.125rem; }

#header {
  position: static; }

#sr-header-area {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 1.25rem;
  width: 100%;
  background: #333;
  border-bottom: none !important; }
  #sr-header-area a,
  #sr-header-area span,
  #sr-header-area .drop-choices {
    background: #333;
    color: #fff; }

#header-bottom-right {
  position: static;
  display: block;
  height: 100%;
  width: 18.75rem;
  padding: 0.9375rem 1.25rem 0.9375rem 0;
  float: right;
  text-align: right;
  background: transparent;
  border-radius: 0; }
  #header-bottom-right .user, #header-bottom-right #mail, #header-bottom-right #modmail, #header-bottom-right .pref-lang, #header-bottom-right .logout > a {
    position: static;
    top: 0;
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    margin: 0 0 0 1.25rem;
    text-indent: 100%;
    background: url(%%user-icons%%) transparent 0 0;
    background-size: 1.25rem;
    overflow: hidden;
    white-space: nowrap;
    opacity: .6;
    -webkit-transition: opacity .3s;
            transition: opacity .3s; }
    #header-bottom-right .user:hover, #header-bottom-right #mail:hover, #header-bottom-right #modmail:hover, #header-bottom-right .pref-lang:hover, #header-bottom-right .logout > a:hover {
      opacity: 1; }
  #header-bottom-right .user {
    position: relative;
    font-size: 0; }
  #header-bottom-right #mail {
    background-position: 0 -1.5625rem; }
    #header-bottom-right #mail.havemail {
      opacity: 1; }
  #header-bottom-right #modmail {
    background-position: 0 -3.125rem; }
    #header-bottom-right #modmail.havemail {
      opacity: 1; }
  #header-bottom-right .pref-lang {
    background-position: 0 -4.6875rem; }
  #header-bottom-right .logout > a {
    background-position: 0 -6.25rem; }

.flair {
  display: inline-block;
  height: 1.5rem;
  width: 1.75rem;
  padding: 0.0625rem 0.25rem;
  margin-right: 0.1875rem;
  vertical-align: middle;
  font-size: 0.625rem;
  line-height: 1em;
  border: 0.0625rem solid transparent;
  border-radius: 0.1875rem;
  background: transparent;
  color: #222;
  overflow: hidden;
  white-space: nowrap; }
  .flair:hover {
    width: auto;
    border-color: #ddd;
    background-color: #f5f5f5;
    cursor: help; }
  .flair:before {
    content: "";
    display: inline-block;
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 0.25rem;
    vertical-align: middle;
    background-image: url(%%logos-80x80%%);
    background-repeat: no-repeat;
    background-size: 100%; }
  .flair-cardinals:before {
    background-position: 0 0; }
  .flair-falcons:before {
    background-position: 0 -1.25rem; }
  .flair-ravens:before {
    background-position: 0 -2.5rem; }
  .flair-bills:before {
    background-position: 0 -3.75rem; }
  .flair-panthers:before {
    background-position: 0 -5rem; }
  .flair-bears:before {
    background-position: 0 -6.25rem; }
  .flair-bengals:before {
    background-position: 0 -7.5rem; }
  .flair-browns:before {
    background-position: 0 -8.75rem; }
  .flair-cowboys:before {
    background-position: 0 -10rem; }
  .flair-broncos:before {
    background-position: 0 -11.25rem; }
  .flair-lions:before {
    background-position: 0 -12.5rem; }
  .flair-packers:before {
    background-position: 0 -13.75rem; }
  .flair-texans:before {
    background-position: 0 -15rem; }
  .flair-colts:before {
    background-position: 0 -16.25rem; }
  .flair-jaguars:before {
    background-position: 0 -17.5rem; }
  .flair-chiefs:before {
    background-position: 0 -18.75rem; }
  .flair-dolphins:before {
    background-position: 0 -20rem; }
  .flair-vikings:before {
    background-position: 0 -21.25rem; }
  .flair-patriots:before {
    background-position: 0 -22.5rem; }
  .flair-saints:before {
    background-position: 0 -23.75rem; }
  .flair-giants:before {
    background-position: 0 -25rem; }
  .flair-jets:before {
    background-position: 0 -26.25rem; }
  .flair-raiders:before {
    background-position: 0 -27.5rem; }
  .flair-eagles:before {
    background-position: 0 -28.75rem; }
  .flair-steelers:before {
    background-position: 0 -30rem; }
  .flair-chargers:before {
    background-position: 0 -31.25rem; }
  .flair-49ers:before {
    background-position: 0 -32.5rem; }
  .flair-seahawks:before {
    background-position: 0 -33.75rem; }
  .flair-rams:before {
    background-position: 0 -35rem; }
  .flair-buccaneers:before {
    background-position: 0 -36.25rem; }
  .flair-titans:before {
    background-position: 0 -37.5rem; }
  .flair-redskins:before {
    background-position: 0 -38.75rem; }
  .flair-nfl:before {
    background-position: 0 -40rem; }
  .flair-nfc:before {
    background-position: 0 -41.25rem; }
  .flair-afc:before {
    background-position: 0 -42.5rem; }
  .flair-oilers:before {
    background-position: 0 -43.75rem; }

.flair-official {
  height: 2.25rem;
  width: 2.5rem; }
  .flair-official:before {
    height: 2rem;
    width: 2rem; }
  .flair-official.flair-cardinals:before {
    background-position: 0 0; }
  .flair-official.flair-falcons:before {
    background-position: 0 -2rem; }
  .flair-official.flair-ravens:before {
    background-position: 0 -4rem; }
  .flair-official.flair-bills:before {
    background-position: 0 -6rem; }
  .flair-official.flair-panthers:before {
    background-position: 0 -8rem; }
  .flair-official.flair-bears:before {
    background-position: 0 -10rem; }
  .flair-official.flair-bengals:before {
    background-position: 0 -12rem; }
  .flair-official.flair-browns:before {
    background-position: 0 -14rem; }
  .flair-official.flair-cowboys:before {
    background-position: 0 -16rem; }
  .flair-official.flair-broncos:before {
    background-position: 0 -18rem; }
  .flair-official.flair-lions:before {
    background-position: 0 -20rem; }
  .flair-official.flair-packers:before {
    background-position: 0 -22rem; }
  .flair-official.flair-texans:before {
    background-position: 0 -24rem; }
  .flair-official.flair-colts:before {
    background-position: 0 -26rem; }
  .flair-official.flair-jaguars:before {
    background-position: 0 -28rem; }
  .flair-official.flair-chiefs:before {
    background-position: 0 -30rem; }
  .flair-official.flair-dolphins:before {
    background-position: 0 -32rem; }
  .flair-official.flair-vikings:before {
    background-position: 0 -34rem; }
  .flair-official.flair-patriots:before {
    background-position: 0 -36rem; }
  .flair-official.flair-saints:before {
    background-position: 0 -38rem; }
  .flair-official.flair-giants:before {
    background-position: 0 -40rem; }
  .flair-official.flair-jets:before {
    background-position: 0 -42rem; }
  .flair-official.flair-raiders:before {
    background-position: 0 -44rem; }
  .flair-official.flair-eagles:before {
    background-position: 0 -46rem; }
  .flair-official.flair-steelers:before {
    background-position: 0 -48rem; }
  .flair-official.flair-chargers:before {
    background-position: 0 -50rem; }
  .flair-official.flair-49ers:before {
    background-position: 0 -52rem; }
  .flair-official.flair-seahawks:before {
    background-position: 0 -54rem; }
  .flair-official.flair-rams:before {
    background-position: 0 -56rem; }
  .flair-official.flair-buccaneers:before {
    background-position: 0 -58rem; }
  .flair-official.flair-titans:before {
    background-position: 0 -60rem; }
  .flair-official.flair-redskins:before {
    background-position: 0 -62rem; }
  .flair-official.flair-nfl:before {
    background-position: 0 -64rem; }
  .flair-official.flair-nfc:before {
    background-position: 0 -66rem; }
  .flair-official.flair-afc:before {
    background-position: 0 -68rem; }
  .flair-official.flair-oilers:before {
    background-position: 0 -70rem; }
