%default-table{
	&{
		width: 100%;
		margin: 20px 0;
	}
	thead{
		color: color(grey,100);
		background: color(grey,20);
	}
	thead th{
		@include font(display,1);
		border: color(grey,20);
	}
	tbody{}
	tbody tr{
		background: color(grey,0);
		color: color(grey,80);
	}
	tbody tr:nth-child(2n+2){
		background: color(grey,5);
	}
	tbody td{
		border: 1px solid color(grey,10);
	}
	tbody tr:hover td{
		color: color(grey,100);
		background: color(grey,20);
	}
}