#header-bottom-right{
	&{
		position: static;
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0;
		border-radius: 0;
		float: right;
		background: transparent;
	}
	// user name in navigation
	.user{
		font-size: 0;
		line-height: 0;
	}
	.user a{
		@extend %header-text-style;
		margin: 0;
		color: color(grey,60);
	}
	.user a:hover{
		color: color(grey,100);
	}
	// kill all pipes in navigation
	.separator{
		@extend %kill;
	}
	a#chat {
		margin-right: 10px;
	}
	// kill mail box image navigation
	#mail{
		display: inline-block !important;
		vertical-align: middle;
		height: 10px;
		width: 15px;
		margin: -2px 8px 0;
		background-image: url("../img/reddit-icons.png");
		background-position: 0 -50px;
		background-size: 50px;
	}
	#mail.havemail{
		background-position: -25px -50px;
	}
	#new_modmail{
		margin: 3px 8px 0 0;
	}
	// Kill message count
	.message-count{
		@extend %kill;
	}
	// kill modmail icon in navigation
	#modmail{
		position: static;
		top: 0;
	}
	// Show modmail info if user have modmail in navigation
	#modmail{
		display: inline-block !important;
		vertical-align: middle;
		height: 12px;
		width: 12px;
		margin: 2px 8px 0 0;
		background-image: url("../img/reddit-icons.png");
		background-position: 0 -75px;
		background-size: 50px;
	}
	#modmail.havemail{
	background-position: -25px -75px;
	}
	// Naivagiont preferences, I think. I kilt it
	ul{
		@extend %kill;
	}
	// Logout button in navigation
	form{
		@extend %header-text-style;
		margin: 0;
		@include breakpoint(small){
			display: none;
		}
	}
	form a{
		color: color(grey,60);
		text-transform: capitalize;
	}
	form a:hover{
		color: color(grey,100);
		text-decoration: none;
	}
    /* Move beta button a bit */
    .beta-hint {
        position: relative;
        height: 14px;
    }
}
