#header-bottom-right{
	&{
		position: static;
		display: flex;
		align-items: center;
		height: 100%;
		padding: 0;
		border-radius: 0;
		float: right;
		background: transparent;
	}
	// user name in navigation
	.user{
		font-size: 0;
		line-height: 0;
	}
	.user a{
		@extend %header-text-style;
		margin: 0 8px 0 0;
		color: color(grey,60);
	}
	.user a:hover{
		color: color(grey,100);
	}
	// kill all pipes in navigation
	.separator{
		@extend %kill;
	}
	// kill mail box image navigation
	#mail{
		@extend %kill;
	}
	// style message counter in navigation
	.message-count{
		@include font(display,1);
		display: block;
		height: 17px;
		width: 17px;
		padding: 0;
		border-radius: 100%;
		margin: 0 2px;
		font-size: 10px;
		line-height: 17px;
		text-align: center;
		background: color(red);
	}
	// kill modmail icon in navigation
	#modmail{
		display: none;
		position: static;
		top: 0;
	}
	// Show modmail info if user have modmail in navigation
	#modmail.havemail{
		@include font(display,1);
		display: block;
		height: 17px;
		width: 17px;
		padding: 0;
		border-radius: 100%;
		margin: 0 2px;
		background: color(blue);
		font-size: 0;
		line-height: 17px;
		text-align: center;
		text-indent: 0;
		color: color(grey,0);
	}
	#modmail.havemail::before{
		content:"M";
		font-size: 10px;
	}
	// Naivagiont preferences, I think. I kilt it
	ul{
		@extend %kill;
	}
	// Logout button in navigation
	form{
		@extend %header-text-style;
		margin: 0 0 0 8px;
		@include breakpoint(small){
			display: none;
		}
	}
	form a{
		color: color(grey,60);
		text-transform: capitalize;
	}
	form a:hover{
		color: color(grey,100);
		text-decoration: none;
	}
}