$color-1: #ffffff;

html{
	background-color:$color-1;
}

html::before{
	content: "";
	position: absolute;
	top: 0;
	z-index: -1;
	height: 400px;
	width: 100%;
	margin-top: 104px;
	background-color: transparent;
	background-image: url("../img/conf26.jpg");
	background-position: center top;
	background-size: 1890px;
	background-repeat: no-repeat;
}
#header{
    background: $color-1;
   // margin-top: 230px;
   }
