html {
	background-image: url("../img/background.png");
    background-color: #090e09;
    background-size: contain;
}
body::before {
	background-image: url("../img/leftelement.png");
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: 50% 25%;
}
body::after {
	background-image: url("../img/rightelement.png");
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
    z-index:-2;
}
@media only screen and (min-width: 1400px) {
    body::before,
    body::after {
        background-position: center;
    }
}
