html{
	background-color: #000000;
}

body::before,
body::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: 700px;
	width: 100%;
	margin-top: 0;
	background-color: #000000;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover
}

body::before{
	background-image: url("../img/HEAD-m5.jpg");
}
body::after{
	display: none;
	background-image: url("../img/HEAD-sb.jpg");
	animation-name: fade-out;
	animation-duration: 4s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
body.hot-page::after{
	display: block;
}
#header{
}

@keyframes fade-out {
  0% {opacity: 1;}
  80% {opacity: 1;}
  100% {opacity: 0;}
}
