html{
	background-color: #000000;
}

body::before,
body::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	height: 700px;
	width: 100%;
	margin-top: 0;
	background-color: #000000;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover
}

body::before{
	background-color: red;
}
body::after{
}
#header{
}
