html{
	background-color: #000000;
}

html::before,
html::after{
	content: "";
	position: absolute;
	z-index: -1;
	height: 700px;
	width: 100%;
	margin-top: 0;
	background-color: #000000;
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover
}

html::before{
}
html::after{
}
#header{
	background: #000000;
}
