
html{
	background:#e58f30;background:-webkit-linear-gradient(45deg,#e58f30 0%,#8E2F29 40%, #358E3C 98%) fixed;background:-o-linear-gradient(45deg,#e58f30 0%,#8E2F29 40%, #358E3C 98%) fixed;background:linear-gradient(45deg,#e58f30 0%,#8E2F29 40%, #358E3C 98%) fixed;
}
html::before{
	content: "";
	position: absolute;
	top: 0;
	z-index: -1;
	height: 400px;
	width: 100%;
	margin-top: 104px;
	background-color: transparent;
	background-image: url("../img/bhmbanner25.jpg");
	background-position: center top;
	background-size: 1890px;
	background-repeat: no-repeat;
}
#header{
    background: #000000;
   // margin-top: 230px;
   }
