html {
	background-image: url("../img/div1-bg.png");
	z-index: 1;
   	background-color: #08090C;
    background-size: auto;
    background-position: center 107px;
    //from conf-21
    position: relative;
//    background-position: center 100px;
    background-repeat: no-repeat;
    //end conf-21
}
html::before {
    //from conf-21
    content: "";
    position: absolute;
    z-index: -1;
    top: 67px;
    height: 350px;
    width: 100%;
//    background-position: center;
    background-repeat: no-repeat;
    //end conf-21
    background-image: url("../img/div1-text.png");
    background-size: auto;
    background-position: center;
    //top: 50px;
}
body::before {
    //from conf-21
    content: "";
    position: absolute;
    width: 50%;
    height: 222px;
    top: 107px;
    left: 0;
    //end conf-21
    background-image: url("../img/div1-playerleft.png");
    //background-size: 543px;
    background-repeat: no-repeat;
    background-position: top right 60px;
    z-index:2;
}
body::after {
    //from conf-21
    content: "";
    position: absolute;
    width: 50%;
    height: 350px;
    top: 107px;
    left: 50%;
//    z-index:-1;
//    z-index:-2;
    //end conf-21
	background-image: url("../img/div1-playerright.png");
    //background-size: 600px;
    background-repeat: no-repeat;
//    background-position: top left -50px;
    background-position: top left 10px;
    z-index:3;
}
