html {
	background-image: url("../img/div4-bg.png");
	z-index: 1;
   	background-color: #08090C;
    background-size: auto;
    background-position: center 107px;
    //from conf-21
    position: relative;
//    background-position: center 100px;
    background-repeat: no-repeat;
    //end conf-21
}
body::before {
    //from conf-21
    content: "";
    position: absolute;
    width: 50%;
    height: 222px;
    top: 108px;
    left: 0;
    //end conf-21
    background-image: url("../img/div4-playerleft.png");
    //background-size: 543px;
    background-repeat: no-repeat;
    background-position: top right -920px;
    z-index:2;
}
body::after {
    //from conf-21
    content: "";
    position: absolute;
    width: 50%;
    height: 222px;
    top: 108px;
    left: 50%;
//    z-index:-1;
//    z-index:-2;
    //end conf-21
	background-image: url("../img/div4-playerright.png");
    //background-size: 600px;
    background-repeat: no-repeat;
//    background-position: top left -50px;
    background-position: top left -920px;
    z-index:3;
}
