// possible combos
$chars: '1','2','3','4','5','6','7','8','9','0','a','b', 'c','d','e','f','g','h','i','j','k','l','m','n', 'o','p','q','r','s','t','u','v','w','x','y','z';

html{
	&{
		background-color: #FFF;
	}
	&::after{
		content: "";
		position: absolute;
		top: 80px;
		z-index: -2;
		height: 100%;
		width: 100%;
		pointer-events: none;
		background-repeat: no-repeat;
		background-size: 1700px;
		right: 0;
		background-image: url("../img/BANNER-default-2018.png");
		background-position: top center;
	}
}
form.logout {
	a::after{
		content: "";
		position: absolute;
		top: 80px;
		height: 100%;
		width: 100%;
		pointer-events: none;
		background-repeat: no-repeat;
		background-size: 1700px;
		right: 0;
		background-position: top center;
		z-index: -1;
	}
	$index: 0;
	@each $i in $chars{
		$index: $index+1;
		@if($index%7 == 6){
			input[name="uh"][value$="#{$i}"]~ a::after{
				background-image: url("../img/BANNER-vea-2018.jpg");
			}
		} @else if($index%7 == 5){
			input[name="uh"][value$="#{$i}"]~ a::after{
				background-image: url("../img/BANNER-barkley-2018.jpg");
			}
		} @else if($index%7 == 4){
			input[name="uh"][value$="#{$i}"]~ a::after{
				background-image: url("../img/BANNER-darnold-2018.jpg");
			}
		} @else if($index%7 == 3){
			input[name="uh"][value$="#{$i}"]~ a::after{
				background-image: url("../img/BANNER-ward-2018.jpg");
			}
		} @else if($index%7 == 2){
			input[name="uh"][value$="#{$i}"]~ a::after{
				background-image: url("../img/BANNER-chubb-2018.jpg");
			}
		} @else if($index%7 == 1){
			input[name="uh"][value$="#{$i}"]~ a::after{
				background-image: url("../img/BANNER-smith-2018.jpg");
			}
		} @else if($index%7 == 0){
			input[name="uh"][value$="#{$i}"]~ a::after{
				background-image: url("../img/BANNER-rosen-2018.jpg");
			}
		}
	}
}
.side .md ul:first-child{
	position: absolute;
	top: 338px;
	left: 50%;
	transform: translateX(-50%);
	z-index: -1;
	width: 100%;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.side .md ul:first-child li{
	display: inline-block;
	padding: 0 10px;
}
a[title="DRAFT-live-thread"]{
	&{
		display: block;
		width: 209px;
		height: 76px;
		background-image: url("../img/draft-buttons.png");
		background-position: 0 0;
		font-size: 0;
	}
	&:hover{
		background-position: 0 -76px;
	}
}
a[title="DRAFT-espn-thread"]{
	&{
		display: block;
		width: 222px;
		height: 76px;
		background-image: url("../img/draft-buttons.png");
		background-position: -218px 0;
		font-size: 0;
	}
	&:hover{
		background-position: -218px -76px;
	}
}
a[title="DRAFT-nfln-thread"]{
	&{
		display: block;
		width: 222px;
		height: 76px;
		background-image: url("../img/draft-buttons.png");
		background-position: -448px 0;
		font-size: 0;
	}
	&:hover{
		background-position: -448px -76px;
	}
}
a[title="DRAFT-discussion-thread"]{
	&{
		display: block;
		width: 322px;
		height: 76px;
		background-image: url("../img/draft-buttons.png");
		background-position: -678px 0;
		font-size: 0;
	}
	&:hover{
		background-position: -678px -76px;
	}
}
