html{
  background-color: color(grey,5);
  background-image: url("../img/opening-day-bg.jpg");
  background-repeat: repeat;
}
html:before{
  height: 300px;
  margin-top: 80px;
  background-color: transparent;
  background-image: url("../img/opening-day-banner.jpg");
  background-position: center top;
  background-repeat: no-repeat;
}
#header{
  background-color: $nfl-draft-black;
  margin-top: 380px;
}
#header-bottom-left .pagename a{
  color: $nfl-draft-gold;
}
#header-bottom-left .tabmenu li.selected a{
  color: color(grey,0);
}
#header-bottom-left .tabmenu li a:hover{
  color: color(grey,20);
}
#header-bottom-right .user a:hover,
#header-bottom-right .user a:focus,
#header-bottom-right form a:hover,
#header-bottom-right form a:focus{
  color: color(grey,20);
}
#header-bottom-right .message-count{
  background-color: $nfl-draft-gold;
}
#header-bottom-right #modmail.havemail{
  background-color: color(grey,60);
}
#header-bottom-left .pagename a:before{
  background-image: url(../img/draft-crown.png);
}
.side .titlebox .md hr + h4 + h1 + ul{
  background-color: $nfl-draft-black;
}
.content .linklisting .thing .title > .title{
  color: $nfl-draft-black;
}
a[title="join-the-discussion"]{
  position: absolute;
  top: 270px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 8;
  display: block;
  height: 40px;
  width: 280px;
  padding: 10px 20px;
  border: 2px solid $nfl-draft-gold;
  overflow: hidden;
  font-size: 0;
}
a[title="join-the-discussion"]:before{
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transform: translate(-50%,-50%);
  height: 10px;
  width: 220px;
  background-image: url("../img/opening-day-text.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 220px;
}
a[title="join-the-discussion"]:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background-color: $nfl-draft-black;
  opacity: .4;
  transition: .6s;
}
a[title="join-the-discussion"]:focus::after,
a[title="join-the-discussion"]:hover::after{
  opacity: .8;
  transition: .6s;
}