// possible combos
$chars: '1','2','3','4','5','6','7','8','9','0','a','b', 'c','d','e','f','g','h','i','j','k','l','m','n', 'o','p','q','r','s','t','u','v','w','x','y','z';

html{
	background-color: #FFF;
}
form.logout {
	a::after{
		content: "";
		position: absolute;
		top: 80px;
		height: 100%;
		width: 100%;
		pointer-events: none;
		background-repeat: no-repeat;
		background-size: 100%;
		right: 0;
		background-position: top center;
		z-index: -1;
	}
	$index: 0;
	@each $i in $chars{
		$index: $index+1;
		@if($index%7 == 6){
			input[name="uh"][value$="#{$i}"]~ a::after{
				background-image: url("../img/BANNER-default-2018.png");
			}
		} @else if($index%7 == 5){
			input[name="uh"][value$="#{$i}"]~ a::after{
				background-image: url("../img/BANNER-default-2018.png");
			}
		} @else if($index%7 == 4){
			input[name="uh"][value$="#{$i}"]~ a::after{
				background-image: url("../img/BANNER-default-2018.png");
			}
		} @else if($index%7 == 3){
			input[name="uh"][value$="#{$i}"]~ a::after{
				background-image: url("../img/BANNER-default-2018.png");
			}
		} @else if($index%7 == 2){
			input[name="uh"][value$="#{$i}"]~ a::after{
				background-image: url("../img/BANNER-default-2018.png");
			}
		} @else if($index%7 == 1){
			input[name="uh"][value$="#{$i}"]~ a::after{
				background-image: url("../img/BANNER-default-2018.png");
			}
		} @else if($index%7 == 0){
			input[name="uh"][value$="#{$i}"]~ a::after{
				background-image: url("../img/BANNER-default-2018.png");
			}
		}
	}
}
.side .md ul:first-child{
	position: absolute;
	top: 305px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
}
.side .md ul:first-child li{
	display: inline-block;
}
a[title="DRAFT-live-thread"]{
	display: block;
	width: 244px;
	height: 88px;
	background-image: url("../img/draft-buttons.png");
}
a[title="DRAFT-espn-thread"]{
	display: block;
	width: 258px;
	height: 88px;
	background-image: url("../img/draft-buttons.png");
}
a[title="DRAFT-nfln-thread"]{
	display: block;
	width: 258px;
	height: 88px;
	background-image: url("../img/draft-buttons.png");
}
a[title="DRAFT-discussion-thread"]{
	display: block;
	width: 374px;
	height: 88px;
	background-image: url("../img/draft-buttons.png");
}
