$blk: #000;
$wht: #fff;

html{
	background-color: $blk;
}
#header-bottom-left .pagename a:before{
	background-color: $blk;
	background-image: url("../img/crown-glitch.jpg");
	background-position: 0px 0px;
	background-size: 80px;
	background-repeat: no-repeat;
}
#header-bottom-left .pagename a{
	color: $blk;
}
.side .titlebox .md hr+h4+h1+ul{
	background-color: $wht;
}
.side,
.header-bottom-right{
}
