.side .titlebox .md ul:first-child{
	&{
		position: absolute;
		top: 280+80px;
		left: 30px;
		right: 30px;
		height: 60px;
		padding: 0;
		margin: 0;
		background: #333;
		list-style: none;
		padding: 22px 24px;
	}
	li{
		display: inline-block;
		vertical-align: center;
		padding: 0;
		margin: 0;
		color: #fff;
	}
	a{
		&{
			color: #ccc;
			margin-right: 20px;
		}
		&:hover{
			color: #fff;
		}
		&:first-child{
			font-weight: 700;
			color: #fff;
		}
	}
}

#header{
	background: #fff;
}
