$teamColor1: #d80323;
$teamColor2: #ffbf10;
$gameHeader: "TOP-ne-pit.png";
$gameTitle: "TOP-ne-pit-title.png";

html{
	background: linear-gradient(to right, $teamColor1 0%,$teamColor1 50%, $teamColor2 50%, $teamColor2 100%);
}
html::before{
	$h: 117px;
	$w: 583px;
	content: "";
	position: absolute;
	top: (80px + $headerHeight) / 2 - 40px;
	left: 50%;
	transform: translateX(-($w - 10px)/2);
	display: block;
	height: $h;
	width: $w;
	background-repeat: no-repeat;
	background-image: url("../img/#{$gameTitle}");
	background-position: center;
}
html::after{
	content: "";
	position: absolute;
	top: 80px;
	left: 0;
	height: 248px;
	width: 100%;
	background-repeat: no-repeat;
	background-image: url("../img/#{$gameHeader}");
	background-position: center;
	z-index: -1;
}
a[title="TOP-cta"]{
	$h:35px;
	$w:252px;
	position: absolute;
	top: (80px + $headerHeight) / 2 + 92px;
	left: 50%;
	transform: translateX(-($w - 4px)/2);
	height: $h;
	width: $w;
	background-repeat: no-repeat;
	background-image: url("../img/TOP-cta-button.png");
	background-position: top left;
	font-size: 0;
	&::before{display: none;}
	&:hover{
		background-position: bottom left;
	}
}
