html {
    position: relative;
    background-position: center 100px;
    background-repeat: no-repeat;
}
html::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 104px;
    height: 200px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

