$color-1: #ffffff;
html{
	background: #34495E;
}
html::before{
	content: "";
	position: absolute;
	top: 0;
	z-index: -1;
	height: 400px;
	width: 100%;
	margin-top: 104px;
	background-color: transparent;
	background-image: url("../img/billscolts.png");
	background-position: center top;
	background-size: 1600px;
	background-repeat: no-repeat;
}
#header{
    background: $color-1;
    margin-top: 220px;
   }