$color-1: #ffffff;

html{
	background:#931e74;background:-webkit-linear-gradient(45deg,#931e74 0%,#c14433 40%, #ab1d5a 98%) fixed;background:-o-linear-gradient(45deg,#931e74 0%,#c14433 40%, #ab1d5a 98%) fixed;background:linear-gradient(45deg,#931e74 0%,#c14433 40%, #ab1d5a 98%) fixed;
}
html::before{
	content: "";
	position: absolute;
	top: 0;
	z-index: -1;
	height: 400px;
	width: 100%;
	margin-top: 54px;//104px;
	background-color: transparent;
	background-image: url("../img/SBLVIIbanner.png");
	background-position: center top;
	background-size: 1890px;
	background-repeat: no-repeat;
}
#header{
    background: $color-1;
   // margin-top: 230px;
   }