html {
	background-image: url("../img/liv-bg.png");
    //background-color: #BC213B;
    //background:#ff9322;background:-webkit-linear-gradient(45deg,#FFD3B9 0%,#CA465A 50%,#543660 98%) fixed;
    //background:-o-linear-gradient(45deg,#FFD3B9 0%,#CA465A 50%,#543660 98%) fixed;background:linear-gradient(45deg,#FFD3B9 0%,#CA465A 50%,#543660 98%) fixed;
	z-index: 1;
   	background-size: auto;
    background-position: center 100px;
    position: relative;
//    background-position: center 100px;
    background-repeat: no-repeat;
}
html::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 44px;
    height: 350px;
    width: 100%;
    background-repeat: no-repeat;	background-image: url("../img/liv-text.png");
    background-size: auto;
    background-position: center;
}
body::before {
    content: "";
    position: absolute;
    width: 50%;
    height: 222px;
    top: 108px;
    left: 0;
	background-image: url("../img/liv-bengals.png");
    background-repeat: no-repeat;
    background-position: top right -900px;
    z-index:2;
}
body::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 222px;
    top: 108px;
    left: 50%;
	background-image: url("../img/liv-rams.png");
    background-repeat: no-repeat;
//    background-position: top left -50px;
    background-position: top left -900px;
    z-index:3;
}
@media only screen and (min-width: 1400px) {
    body::before,
    body::after {
        background-position: center;
    }
}
