// possible combos
$group1: '1','2','3','4','5','6','7','8','9','0','a','b';
$group2: 'c','d','e','f','g','h','i','j','k','l','m','n';
$group3: 'o','p','q','r','s','t','u','v','w','x','y','z';
$afterGroup1: '1','2','3','4','5','6','7';
$afterGroup2: '8','9','0','a','b','c';

html{
	background-color: #f1f1f1;
}
form.logout {
	%image-half{
		content: "";
		position: absolute;
		top: 80px;
		height: 280px;
		width: 50%;
		pointer-events: none;
		background-repeat: no-repeat;
	}
	a::before{
		@extend %image-half;
		left: 0;
		background-image: url("../img/TOP-trophy.png");
		background-position: top right;
	}
	a::after{
		@extend %image-half;
		right: 0;
		background-position: top left;
	}
	@each $i in $group1{
		input[name="uh"][value$="#{$i}"]~ a::after{
			background-image: url("../img/TOP-brady.png");
		}
	}
	@each $i in $group2{
		input[name="uh"][value$="#{$i}"]~ a::after{
			background-image: url("../img/TOP-edleman.png");
		}
	}
	@each $i in $group3{
		input[name="uh"][value$="#{$i}"]~ a::after{
			background-image: url("../img/TOP-butler.png");
		}
	}
}
