html{
	background-color: #F0F0F0;
}
html:before{
	content: "";
	position: absolute;
	z-index: -1;
	height: 100%;
	width: 100%;
	margin-top: 80px;
	background-color: transparent;
	background-image: url("../img/HERO-eagles-won.jpg");
	background-position: center top;
	background-repeat: no-repeat;
}
#header{
	background: #fff;
}
