html {
	background-image: url("../img/rams-sb-header.png");
    //background-color: #BC213B;
    //background:#ff9322;background:-webkit-linear-gradient(45deg,#FFD3B9 0%,#CA465A 50%,#543660 98%) fixed;
    //background:-o-linear-gradient(45deg,#FFD3B9 0%,#CA465A 50%,#543660 98%) fixed;background:linear-gradient(45deg,#FFD3B9 0%,#CA465A 50%,#543660 98%) fixed;
    background-color:#ffffff;
	z-index: 1;
   	background-size: auto;
    background-position: center 100px;
    position: relative;
//    background-position: center 100px;
    background-repeat: no-repeat;
}

