html {
	background-image: url("../img/lv-bg.png");
    background-color: #090e09;
    background-size: contain;
}
html::before {
	background-image: url("../img/lv-text.png");
    background-size: contain;
}
body::before {
	background-image: url("../img/lv-buccs.png");
    background-size: 625px;
    background-repeat: no-repeat;
    background-position: left center;
}
body::after {
	background-image: url("../img/lv-chiefs.png");
    background-size: 625px;
    background-repeat: no-repeat;
    background-position: right center;
    z-index:-2;
}
@media only screen and (min-width: 1483px) {
    body::before,
    body::after {
        background-position: center;
    }
}
