$banner_height: 476;
html{ background: #000 !important; }
html:before{
	content: "";
	position: absolute;
	top: 76px;
	left: 0;
	z-index: -2;
	height: 470px;
	width: 100%;
	background-color: transparent;
	background-image: url("../img/VAL-default.jpg");
	background-position: center top;
	background-repeat: no-repeat;
}

// This is our team specific element
.side .tagline>.flair{
	display: block;
	position: absolute;
	top: 76px;
	left: 0;
	z-index: -1;
	height: 470px;
	width: 100%;
	background-color: transparent;
	background-position: center;
	background-repeat: no-repeat;
	font-size: 0;
	pointer-events: none;
}
.side .tagline>.flair::before{
	display: none;
}

$nfl-valentines:
	(name:cardinals, conf: NFC, div: WEST, pos: 2),
	(name:falcons, conf: NFC, div: SOUTH, pos: 0),
	(name:ravens, conf: AFC, div: NORTH, pos: 2),
	(name:bills, conf: AFC, div: EAST, pos: 1),
	(name:panthers, conf: NFC, div: SOUTH, pos: 1),
	(name:bears, conf: NFC, div: NORTH, pos: 3),
	(name:bengals, conf: AFC, div: NORTH, pos: 0),
	(name:browns, conf: AFC, div: NORTH, pos: 1),
	(name:cowboys, conf: NFC, div: EAST, pos: 0),
	(name:broncos, conf: AFC, div: WEST, pos: 3),
	(name:lions, conf: NFC, div: NORTH, pos: 0),
	(name:packers, conf: NFC, div: NORTH, pos: 2),
	(name:texans, conf: AFC, div: SOUTH, pos: 2),
	(name:colts, conf: AFC, div: SOUTH, pos: 3),
	(name:jaguars, conf: AFC, div: SOUTH, pos: 0),
	(name:chiefs, conf: AFC, div: WEST, pos: 1),
	(name:dolphins, conf: AFC, div: EAST, pos: 2),
	(name:vikings, conf: NFC, div: NORTH, pos: 1),
	(name:patriots, conf: AFC, div: EAST, pos: 0),
	(name:saints, conf: NFC, div: SOUTH, pos: 2),
	(name:giants, conf: NFC, div: EAST, pos: 3),
	(name:jets, conf: AFC, div: EAST, pos: 3),
	(name:raiders, conf: AFC, div: WEST, pos: 2),
	(name:eagles, conf: NFC, div: EAST, pos: 1),
	(name:steelers, conf: AFC, div: NORTH, pos: 3),
	(name:chargers, conf: AFC, div: WEST, pos: 0),
	(name:fortyniners, conf: NFC, div: WEST, pos: 1),
	(name:seahawks, conf: NFC, div: WEST, pos: 0),
	(name:rams, conf: NFC, div: WEST, pos: 3),
	(name:buccaneers, conf: NFC, div: SOUTH, pos: 3),
	(name:titans, conf: AFC, div: SOUTH, pos: 1),
	(name:redskins, conf: NFC, div: EAST, pos: 2);

@each $team in $nfl-valentines{
	$team_name: map-get($team, name);
	$team_conf: map-get($team, conf);
	$team_div: map-get($team, div);
	$team_pos: map-get($team, pos);
	.side .tagline > .flair.flair-#{$team_name}{
		background-position: center ( ($banner_height * $team_pos) * -1px );
		background-image: url("../img/VAL-#{$team_conf}-#{$team_div}.jpg");
	}
}
