$promoImage: "../img/32-links.jpg";
$promoHeight: 40px;
$promoTarget: false; //"32-32-link"; // either link title or false
$promoIsLink: true;
$promoTop: 0;

$sidebarImage: "../img/Pros32-07-Goff.jpg";
$sidebarHeader: "Prospects in 32 Days - Day 7: Jared Goff";
$sidebarText: "Jared Goff entered 2015 as one of the top QB prospects in the draft and only increased his stock as the year went on. He has incredible pocket presence, great ball placement, and a fantastic ability to read defenses.";
$sidebarPicHeight: 200px;
$sidebarPicOffset: 0;


$showHeader: false;
$headerHeight: 0;
$headerSideOffset: 0;
$headerImage: "TOP-superbowl.jpg";

$sidebarLinksCount: 6;
