$headerHeight: 80px; //ex: 40px or false. 80px default
$headerSideOffset: $headerHeight - 20px; //ex: 20px or false

// New Promo
$promos: (
	(
		image: "../img/twitter-promo.png",
		target: "ad-twitter",
		height: 136px,
		position: false
	),
	(
		image: "../img/pro-css.png",
		target: "pro-css",
		height: 105px,
		position: false
	)
);

// Sidebar Variables

$sidebarImage: "../img/Chiefs.jpg";
$sidebarHeader: "Mahomes/Brady IV goes to the Chiefs";
$sidebarText: "Another chapter in Brady v. Mahomes was written on Sunday afternoon as the Chiefs defeated the Buccs 27-24. Kansas City got off to a fast start, with Tyreek Hill recording an astounding 203 receiving yards and two touchdowns in the opening quarter. A 27-10 third-quarter Chiefs lead nearly evaporated as two fourth-quarter Mike Evans touchdowns cut the lead to three. With the game on the line, Mahomes found Hill one more time on third down to ice the game. This win moves the Chiefs to 10-1 on the season and they appear poised to make their third deep playoff run in as many years.";
$sidebarPicHeight: 200px; //set to 200px for standard sidebar
$sidebarPicOffset: 0;

// Links in sidebar
$sidebarLinksHeight: 34px;
$sidebarLinksCount: 6;
