$headerHeight: 80px; //ex: 40px or false. 80px default
$headerSideOffset: $headerHeight - 20px; //ex: 20px or false

// New Promo
$promos: (
	(
		image: "../img/twitter-promo.png",
		target: "ad-twitter",
		height: 136px,
		position: false
	),
	(
		image: "../img/pro-css.png",
		target: "pro-css",
		height: 105px,
		position: false
	)
);

// Sidebar Variables
$sidebarImage: "../img/Cards.png";
$sidebarHeader: "Seahawks refused to win";
$sidebarText: "The Arizona Cardinals knocked off the undefeated Seattle Seahawks in a wild Sunday Night affair this past Sunday. Despite a brilliant performance from Tyler Lockett, the Cardinals' defense forced three interceptions, including one from rookie Isaiah Simmons with under a minute remaining in overtime. Ten Cardinals points in the final 2:28 sent the game to OT, where kicker Zane Gonzalez atoned for his first OT field goal miss, drilling the game-winning 48-yard field goal to hand Seattle its first loss on the season.";
$sidebarPicHeight: 200px; //set to 200px for standard sidebar
$sidebarPicOffset: 0;

// Links in sidebar
$sidebarLinksHeight: 34px;
$sidebarLinksCount: 6;
