$headerHeight: false; //ex: 20px or false
$headerSideOffset: false; //ex: 20px or false

// New Promo
$promos: (
    // (
	// 	image: "../img/SB-AD-Thomas.jpg",
	// 	target: "SB_Thomas",
	// 	height: 157px,
	// 	position: true
    // ),
);

// Sidebar Variables
$sidebarImage: "../img/SB-PRE01-1-Boldin.jpg";
$sidebarHeader: "We're Back!";
$sidebarText: "The 2018 preseason hits full speed tonight with a full slate of games. It's been a long wait, but all of that down time pays off with actual football being played with actual NFL players. With some of those NFL players playing an entire first series. Pray for no injuries and watch for who will give you the most hope in four short weeks.";
$sidebarPicHeight: 230px;
$sidebarPicOffset: 0;

// Links in sidebar
$sidebarLinksHeight: 34px;
$sidebarLinksCount: 6;
