// functions
@import "functions/collect-maps";

// variables
@import "variables/image-map";
@import "variables/teams-nfl";
@import "variables/link-flair";

$all-teams: map-collect($nfl-teams);

// theme controller
@import "controls";

// base theme
@import "themes/base/theme/index";

// essential modules
@import "modules/remove-subreddit-stats";
@import "modules/sidebar-padding";
//@import "modules/user-flair";
@import "modules/dual-flair";
@import "modules/rankers-flair";
@import "modules/official-flair";
@import "modules/link-flair";
@import "modules/teams-header";
@import "modules/utility-icons";
@import "modules/utility-text";
@import "modules/sidebar-ad";
@import "modules/wiki";

// modules
@import "modules/flair-selection-index";
@import "modules/game-thread";
@import "modules/trash-talk-thread";

// states
@import "states/res";
@import "states/nightmode";

// Themes

//@import "themes/basic-theme";
//@import "themes/black-history-month";
@import "themes/usa-theme";


// yeah, no reddit new button
#sr-header-area .redesign-beta-optin{
	display: none;
	opacity: 0;
	position: absolute;
	left: -9999px;
	z-index: -1000;
	visibility: hidden;
	height: 0;
	overflow: hidden;
	width: 0;
	pointer-events: none;
}

// dear reddit, can you please for the love of god stop breaking ad layouts with your shit code?
.native-ad-container{
	margin: 0 auto !important;
}
