/* Aurelian by r/nfl */

// Theme Controller
@import "./_controls.scss";

// Modules
@import "./modules/_functions.scss";
@import "./modules/_variables.scss";
@import "./modules/_mixins.scss";
@import "./modules/_placeholders.scss";

// Patterns
@import "./patterns/_typography.scss";
@import "./patterns/_buttons.scss";
@import "./patterns/_tables.scss";

// Components
@import "./components/_global.scss";
@import "./components/_reddit-header.scss";
@import "./components/_reddit-sidebar.scss";
@import "./components/_reddit-oc.scss";
@import "./components/_reddit-content.scss";
@import "./components/_res.scss";

// Post Types
@import "./post-types/_thread-trashtalk.scss";
@import "./post-types/_thread-pressbox.scss";

// Themes
@import "./themes/_superbowl-2019.scss";

// yeah, no reddit new button
#sr-header-area div.redesign-beta-optin{
	display: none;
	opacity: 0;
	position: absolute;
	left: -9999px;
	z-index: -1000;
	visibility: hidden;
	height: 0;
	overflow: hidden;
	width: 0;
	pointer-events: none;
}
