html{
	background-color: #303133;
}
html::after{
	content: "";
	position: absolute;
	top: 80px;
	left: 0;
	height: 500px;
	width: 100%;
	background-repeat: no-repeat;
	background-image: url("../img/#{$headerImage}");
	background-position: center;
	z-index: -1;
}
#header{
	margin-top: $headerHeight;
}
a[title="Join The Discussion"]{
	&{
		position: absolute;
		top: 412px;
		left: 50%;
		transform: translate(-50%,0);
		display: block;
		width: 200px;
		height: 42px;
		font-size: 0;
		background: url("../img/BTN-discussion.png"); 
		background-size: 400px;
		background-position: left top;
	}
	&:hover{
		background-position: right top;
	}
}