html{
	background-color: #303133;
}
html::after{
	content: "";
	position: absolute;
	top: 80px;
	left: 0;
	height: 500px;
	width: 100%;
	background-repeat: no-repeat;
	background-image: url("../img/#{$headerImage}");
	background-position: center;
	z-index: -1;
}
#header{
	margin-top: $headerHeight;
}
a[title="Join The Discussion"]{
	display: block;
	width: 400px;
	height: 84px;
	background: url("../img/BTN_discussion.png");
	background-size: 400px;
	background-position: left top;
}