.usertext-body h2 a[href="/43n9pe"] {
    display: inline-block;
		height: 42px;
		width: 200px;
		background-image: url("../img/BTN-hub.png");
		background-position: top center;
		background-size: 100%;
}

