.usertext-body h2 {
    a[href="/akrzv3"], a[data-href-url="/akrzv3"] {
        &{
            display: block;
            height: 42px;
            width: 200px;
            margin: 40px auto 20px;
            font-size: 0;
            background-image: url("../img/BTN-hub.png");
            background-position: top center;
            background-size: 100%;
        }
        &:hover{
            background-position: bottom center;
        }
    }
}
