.usertext-body h2 a[href="/43n9pe"] {
    display: inline-block;
    background-color: color(blue);
    border-bottom: 5px solid darken(color(blue), 10);
    border-radius: 10px;
    color: #ffffff;
    margin: 0;
    padding: 8px 30px;
    text-decoration: none;
    text-shadow: 0px -2px darken(color(blue), 10);
    transition: all 0.1s ease 0s;

    &:hover, &:focus {
        color: #ffffff;
        text-decoration: none;  
    }

    &:active {
        border-bottom: 1px solid;
        transform: translate(0px, 5px);
    }
}

