// Ranker Flair
.post-linkflair-purple {
    .flair-ranker {
        height: 36px;
        width: 40px;
        &:before {
            height: 32px;
            width: 32px;
            opacity: 1 !important;
        }
        + .author {
            color: white;
            background: black;
            border-radius:4px;
            -moz-border-radius:4px;
            -webkit-border-radius:4px;
            font-weight:700;
            padding:2px 4px;
            &:after {
                content:" - Ranker";
            }
        }
    }

    // Gets background position for all teams for flair, link images, and abbr images.
    $pos-32: 0px;
    @each $team in $nfl-teams {
        $thisName: map-get($team, name);
        $thisBg: map-get($team, bg);
        $thisFg: map-get($team, fg);

        .flair-ranker-#{$thisName}.flair-ranker {
            &:before{
                background-position: 0 (0 - $pos-32);
            }
            + .author {
                color: $thisFg !important;
                background: $thisBg;
            }
        }
        $pos-32: $pos-32 - -32px;
    }
}
