// All "components" within the side bar will begin with an hr, then an h4, and finally a random header between h1-h6
// creating a unique code for us to target (e.g. hr + h4 + h1 + component).
// It's messy, for sure.

// kill all h4 following hr
.side .titlebox .md > hr + h4{
	@extend %kill;
	// kill all header elements follow hr and h4
	@for $i from 1 through 6{
		+ h#{$i}{
				@extend %kill;
		}
	}
}

#header-bottom-left .pagename a:before{
	content: "";
	position: absolute;
  top: $h-reddit-nav + 10px;
  left: 50%;
	z-index: 2;
  height: 80px;
  width: 80px;
	margin-left: -40px;
	@if($crownImage){
		background-image: url($crownImage);
	} @else{
		background-image: url(../img/crown.png);
	}
	background-position: top center;
	background-repeat: no-repeat;
	background-size: 80px;
}

// Teams logo header's unique code is 41(h4+h1)
.side .titlebox .md hr + h4 + h1 + ul{
	&{
		@extend %clearfix;
		position: absolute;
		top: rem(20px);
		left: 0;
		width: 100%;
		padding: rem(20px) rem(40px);
		margin-top: 0;
		margin-bottom: 0;
		background: color(grey, 5);
		list-style: none;
	}
	li{
		display: block;
		// One day when reddit supports justify-content
		//display: flex;
		//justify-content: space-between;
		width: 50%;
		float: left;
	}
	li:nth-child(1){
		padding-right: 60px;
	}
	li:nth-child(1) > a{
		display: block;
		width: 100/16 * 1%;
		text-align: right;
		float: right;
	}
	li:nth-child(2){
		padding-left: 60px;
	}
	li:nth-child(2) > a{
		display: block;
		width: 100/16 * 1%;
		text-align: left;
		float: left;
	}
}
