// Removes flair off listing pages, moderator box in sidebar, and posts on author
.side .bottom .flair,
.sidecontentbox .flair,
#siteTable .flair{
	@extend %kill;
}
// Puts it back in the listing for moderators
body.moderator #siteTable .flair{
    display: inline-block !important;
}
// User flair
// Flair wrapping element
.flair{
	display: inline-block;
	height: 24px;
	width: 28px;
	padding: 1px 4px;
	margin-right: 3px;
	vertical-align: middle;
	font-size: 10px;
	line-height: 16px;
	border: 1px solid transparent;
	border-radius: 3px;
	background: transparent;
	color: #222;
	overflow: hidden;
	white-space: nowrap;
	// Flair wrap on hover
	&:hover{
		width: auto;
		border-color:  #ddd;
		background-color: #f5f5f5;
		cursor: help;
	}
	// Flair logo element
	&:before{
		content: "";
		display: inline-block;
		height: 20px;
		width: 20px;
		margin-right: 4px;
		vertical-align: middle;
		background-image: url(../img/logos-80x80.png);
		background-repeat: no-repeat;
		background-size: 100%;
	}
}
// Official Flair
.flair-official{
  height: 36px;
  width: 40px;
  &:before{
	height: 32px;
	width: 32px;
    opacity: 1 !important;
  }
  + .author {
    color: white;
    background: black;
    border-radius:4px;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    font-weight:700;
    padding:2px 4px;
    &:after {
      content:" - Verified account";
    }
  }
}
#siteTable .tagline .flair-official {
  display: inline-block !important;
}
// Bandwagon flair
.flair-bandwagon {
  width: 48px;
  &::before{
    background-image: url(../img/logos-160x80--bw.png);
    width: 40px;
  }
}

// Link logos
%team-link{
  content: "";
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 4px 0 0;
  vertical-align: middle;
  background-image: url("../img/logos-80x80.png");
  background-size: 100%;
}

// Cheaty moderator NFL flair
div.comment.noncollapsed > .entry > .tagline > a.author.moderator {
    margin-left: -20px;
    &:before {
        display: inline-block;
        content: "";
        width: 20px;
        height: 20px;
        left: -6px; // Magic value
        top: 8px; // Magic value - appears to differ 1px between FF and Chrome
        position: relative;
        background-color: white;
        background-image: url("../img/logos-80x80.png");
        background-size: 100%;
    }
}


// Gets background position for all teams for flair, link images, and abbr images.
$pos-20: 0px;
$pos-32: 0px;
@each $team in $nfl-teams{
  $thisName: map-get($team, name);
  $thisAbbr: map-get($team, abbr);
  $thisUrl: map-get($team, url);
  $thisBg: map-get($team, bg);
  $thisFg: map-get($team, fg);
  $thisEliminated: map-get($team, eliminated);
  $thisChampion: map-get($team, champion);

  .md a[href*="/r/#{$thisUrl}"]::before,
  .md a[href*="/#{$thisAbbr}"]::before{
		@extend %team-link;
  }

  .flair-#{$thisName}{
		@if $thisChampion {
			width: 38px;
		}
	}
  .flair-#{$thisName}::before,
  .md a[href*="/r/#{$thisUrl}"]::before,
  .md a[href*="/#{$thisAbbr}"]::before,
  .md a[href*="/#{to-upper-case(#{$thisUrl})}"]::before,
  .md a[href*="/#{to-upper-case(#{$thisAbbr})}"]::before{
    background-position: 0 $pos-20;
    @if $thisEliminated {
        opacity: .4;
    }
    @if $thisChampion {
			width: 28px;
			background-image: url("../img/logos-sb.png");
			background-position: 0 0;
			background-size: contain;
    }
  }
  .flair-#{$thisName}.flair-official {
    &:before{
      background-position: 0 (0 - $pos-32);
    }
    + .author{
        color: $thisFg !important;
        background: $thisBg;
    }
  }
  .titlebox .tagline .flairselector .flair-#{$thisName}::before{
	@if $thisChampion {
		background-position: 0 0;
	} @else{
		background-position: 0 (0 - $pos-32);
	}
  }
  $pos-20: $pos-20 - 20px;
  $pos-32: $pos-32 - -32px;
}

/* Special flair */
.flair-twitter, .flair-robot {
    &:before {
        background-image: url("../img/logos-special-80x80.png");
    }
}
.flair-twitter:before {
        background-position: 0 0;
}
.flair-robot:before {
    background-position: 0 -20px;
}
.flair-nflfilms {
    &:before {
        background-image: url("../img/nflfilms-80x80.png");
    }
    + .author{
        color: $nfl-0 !important;
        background: $nfl-blue;
    }
}
