// brand
$crown: "../img/hannukah-crown-2.png";

// image sprites
$team-icons: "../img/b.png";
$team-icons--large: "../img/a.png";
$post-icons: "../img/d.png";
$special-icons: "../img/e.png";
$reddit-icons: "../img/f.png";
$other-icons: "../img/f.png";
$utility-icons: "../img/f.png";
$utility-text: "../img/c.png";
$banners: null;
$buttons: null;

// night mode
