// crown

//$crown: "../img/crown-pride.png";
$crown: "../img/crown.png";


// image sprites
$team-icons: "../img/flair.png";
$team-icons--large: "../img/a.png";
$post-icons: "../img/postflair.png";
$special-icons: "../img/spcflair.png";
$reddit-icons: "../img/ui.png";
$other-icons: "../img/ui.png";
$utility-icons: "../img/ui.png";
$utility-text: "../img/text.png";
$banners: null;
$buttons: null;

// night mode
