// crown
$crown: "../img/liv-crown.png";

// image sprites
$team-icons: "../img/flair.png";
$team-icons--large: "../img/a.png";
$post-icons: "../img/liv-postflair.png";
$special-icons: "../img/spcflair.png";
$reddit-icons: "../img/liv-ui.png";
$other-icons: "../img/liv-ui.png";
$utility-icons: "../img/liv-ui.png";
$utility-text: "../img/liv-text.png";
$banners: null;
$buttons: null;

// night mode
