$link-flair: (
	name: "ama",
	class: "ama-thread"
),(
	name: "announcement",
	class: "announcement-thread"
),(
	name: "News",
	class: "news-thread"
),(
	name: "rumor",
	class: "rumor-thread"
),(
	name: "highlight",
	class: "highlight-thread"
),(
	name: "game",
	class: "game-thread"
),(
	name: "event",
	class: "event-thread"
),(
	name: "trash talk",
	class: "trash-talk-thread"
),(
	name: "free talk",
	class: "free-talk-thread"
),(
	name: "original content",
	class: "original-content-thread"
),(
	name: "compliant",
	class: "compliant-thread",
),(
	name: "serious",
	class: "serious-thread",
	bold: true
),(
	name: "misleading",
	class: "misleading-thread",
),(
	name: "look here",
	class: "generic-thread",
	bold: true
);
