$link-flair: (
	name: "game thread",
	class: "game-thread",
	color: #429876,
	bold: true,
),(
	name: "highlight",
	class: "highlight",
),(
	name: "injury",
	class: "injury",
),(
	name: "complaints",
	class: "complaints",
),(
	name: "trash talk",
	class: "trash-talk",
	color: #81CEDF,
),(
	name: "original content",
	class: "original-content",
),(
	name: "Meme Monday",
	class: "meme-monday",
),(
	name: "Announcement",
	class: "announcement",
	color: #E74C3C,
	bold: true,
),(
	name: "News",
	class: "news",
),(
	name: "Pets",
	class: "pets",
),(
	name: "Power Rankers",
	class: "power-rankers",
),(
	name: "text",
	class: "dose-not-exist",
),(
	name: "link",
	class: "dose-not-exist",
),(
	name: "AMA",
	class: "ama",
	color: #87D37C,
	bold: true,
),(
	name: "AMA Ended :(",
	class: "ama-over",
);
