$nfl-teams:
	(
		league: "nfl",
		name: "nfl",
		abbr: "NFL",
		url: "nfl",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #FFFFFF,
		bg: #97233F,
		eliminated:  false,
		champion:  false
	),
	(
		league: "nfl",
		name: "cardinals",
		abbr: "ARI",
		url: "azcardinals",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #FFFFFF,
		bg: #97233F,
		eliminated:  true,
		champion:  false
	),
	(
		league: "nfl",
		name: "falcons",
		abbr: "ATL",
		url: "falcons",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #A71930,
		bg: #000000,
		eliminated:  false,
		champion:  false
	),
	(
		league: "nfl",
		name: "ravens",
		abbr: "BAL",
		url: "ravens",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #9E7C0C,
		bg: #241773,
		eliminated: false,
		champion:  false
	),
	(
		league: "nfl",
		name: "bills",
		abbr: "BUF",
		url: "buffalobills",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #C60C30,
		bg: #00338D,
		eliminated:  false,
		champion:  false
	),
	(
		league: "nfl",
		name: "panthers",
		abbr: "CAR",
		url: "panthers",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #000000,
		bg: #0085CA,
		eliminated:  true,
		champion:  false
	),
	(
		league: "nfl",
		name: "bears",
		abbr: "CHI",
		url: "chibears",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #C83803,
		bg: #0B162A,
		eliminated:  true,
		champion:  false
	),
	(
		league: "nfl",
		name: "bengals",
		abbr: "CIN",
		url: "bengals",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #FB4F14,
		bg: #000000,
		eliminated:  false,
		champion:  false
	),
	(
		league: "nfl",
		name: "browns",
		abbr: "CLE",
		url: "browns",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #311D00,
		bg: #FF3C00,
		eliminated:  true,
		champion:  false
	),
	(
		league: "nfl",
		name: "cowboys",
		abbr: "DAL",
		url: "cowboys",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #B0B7BC,
		bg: #002244,
		eliminated:  true,
		champion:  false
	),
	(
		league: "nfl",
		name: "broncos",
		abbr: "DEN",
		url: "denverbroncos",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #002244,
		bg: #FB4F14,
		eliminated: false,
		champion:  false
	),
	(
		league: "nfl",
		name: "lions",
		abbr: "DET",
		url: "detroitlions",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #B0B7BC,
		bg: #005A8B,
		eliminated:  false,
		champion:  false
	),
	(
		league: "nfl",
		name: "packers",
		abbr: "GB",
		url: "greenbaypackers",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #FFB612,
		bg: #203731,
		eliminated:  false,
		champion:  false
	),
	(
		league: "nfl",
		name: "texans",
		abbr: "HOU",
		url: "texans",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #A71930,
		bg: #03202F,
		eliminated:  false,
		champion:  false
	),
	(
		league: "nfl",
		name: "colts",
		abbr: "IND",
		url: "colts",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #FFFFFF,
		bg: #002C5F,
		eliminated:  false,
		champion:  false
	),
	(
		league: "nfl",
		name: "jaguars",
		abbr: "JAX",
		url: "jaguars",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #006778,
		bg: #000000,
		eliminated:  true,
		champion:  false
	),
	(
		league: "nfl",
		name: "chiefs",
		abbr: "KC",
		url: "kansascitychiefs",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #FFB612,
		bg: #E31837,
		eliminated:  false,
		champion:  true
	),
	(
		league: "nfl",
		name: "raiders",
		abbr: "LV",
		url: "raiders",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #000000,
		bg: #A5ACAF,
		eliminated:  true,
		champion:  false
	),
	(
		league: "nfl",
		name: "chargers",
		abbr: "LAC",
		url: "chargers",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #FFB612,
		bg: #0073CF,
		eliminated:  false,
		champion:  false
	),
	(
		league: "nfl",
		name: "rams",
		abbr: "LAR",
		url: "losangelesrams",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #B3995D,
		bg: #002244,
		eliminated: false,
		champion:  false
	),
	(
		league: "nfl",
		name: "dolphins",
		abbr: "MIA",
		url: "miamidolphins",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #F58220,
		bg: #008E97,
		eliminated:  false,
		champion:  false
	),
	(
		league: "nfl",
		name: "vikings",
		abbr: "MIN",
		url: "minnesotavikings",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #FFC62F,
		bg: #4F2683,
		eliminated:  false,
		champion:  false
	),
	(
		league: "nfl",
		name: "patriots",
		abbr: "NE",
		url: "patriots",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #C60C30,
		bg: #002244,
		eliminated: true,
		champion:  false
	),
	(
		league: "nfl",
		name: "saints",
		abbr: "NO",
		url: "saints",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #9F8958,
		bg: #000000,
		eliminated:  true,
		champion:  false
	),
	(
		league: "nfl",
		name: "giants",
		abbr: "NYG",
		url: "nygiants",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #A71930,
		bg: #0B2265,
		eliminated:  true,
		champion:  false
	),
	(
		league: "nfl",
		name: "jets",
		abbr: "NYJ",
		url: "nyjets",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #FFFFFF,
		bg: #203731,
		eliminated:  true,
		champion:  false
	),
	(
		league: "nfl",
		name: "eagles",
		abbr: "PHI",
		url: "eagles",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #A5ACAF,
		bg: #004953,
		eliminated:  false,
		champion:  false
	),
	(
		league: "nfl",
		name: "steelers",
		abbr: "PIT",
		url: "steelers",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #FFB612,
		bg: #000000,
		eliminated:  false,
		champion:  false
	),
	(
		league: "nfl",
		name: "fortyniners",
		abbr: "SF",
		url: "49ers",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #B3995D,
		bg: #AA0000,
		eliminated:  false,
		champion:  false
	),
	(
		league: "nfl",
		name: "seahawks",
		abbr: "SEA",
		url: "seahawks",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #69BE28,
		bg: #002244,
		eliminated:  false,
		champion:  false
	),
	(
		league: "nfl",
		name: "buccaneers",
		abbr: "TB",
		url: "buccaneers",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #34302B,
		bg: #D50A0A,
		eliminated:  false,
		champion:  false
	),
	(
		league: "nfl",
		name: "titans",
		abbr: "TEN",
		url: "tennesseetitans",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #4B92DB,
		bg: #002244,
		eliminated:  true,
		champion:  false
	),
	(
		league: "nfl",
		name: "commanders",
		abbr: "WAS",
		url: "Commanders",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #FFB612,
		bg: #773141,
		eliminated:  false,
		champion:  false
	),
	(
		league: "nfl",
		name: "nfc",
		abbr: "NFC",
		url: "nfc",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #FFFFFF,
		bg: #97233F,
		eliminated:  false,
		champion:  false
	),
	(
		league: "nfl",
		name: "afc",
		abbr: "AFC",
		url: "afc",
		color-1: #1B4734,
		color-2: #F7B844,
		color-3: #ED4434,
		fg: #FFFFFF,
		bg: #97233F,
		eliminated:  false,
		champion:  false
	)
;
